# >> 1
pdir="/mss/repo/pkg-management/patches/ffmpeg-4.3.2/"
patch -p1 < "${pdir}"/0001-libavutil-clean-up-unused-FF_SYMVER-macro.patch

sed -i 's/-lflite"/-lflite -lasound"/' configure

# >> 2
mkdir build
cd    build

../configure \
 --nm="${NM}"                    \
 --ar="${AR}"                    \
 --as="${CC}"                    \
 --strip="${STRIP}"              \
 --cc="${CC}"                    \
 --cxx="${CXX}"                  \
 --objcc="${CC}"                 \
 --dep-cc="${CC}"                \
 --ld="${CC}"                    \
 --ranlib="${RANLIB}"            \
\
 --extra-cflags="${CFLAGS}"      \
 --extra-cxxflags="${CXXFLAGS}"  \
 --extra-objcflags="${CFLAGS}"   \
 --extra-ldflags="${LDFLAGS}"    \
 --extra-ldexeflags="${LDFLAGS}" \
 --extra-ldsoflags="${LDFLAGS}"  \
 --enable-pic                    \
 --enable-lto                    \
\
 --disable-doc                   \
 --disable-htmlpages             \
 --disable-manpages              \
 --disable-podpages              \
 --disable-txtpages              \
\
 --prefix=/usr                   \
 --enable-gpl                    \
 --enable-nonfree                \
 --enable-shared                 \
\
 --disable-debug                 \
 --disable-static                \
\
 --enable-avx                    \
 --enable-avx2                   \
 --enable-avx512                 \
 --enable-libv4l2                \
 --enable-v4l2-m2m               \
\
 --enable-libass                 \
 --enable-libdrm                 \
 --enable-libfontconfig          \
 --enable-libfreetype            \
 --enable-libfribidi             \
 --enable-libmp3lame             \
 --enable-libopenjpeg            \
 --enable-libopus                \
 --enable-libvpx                 \
 --enable-libx264                \
 --enable-libx265                \
 --enable-opengl                 \
 --enable-openssl                \
\
 --disable-libcaca               \
 --disable-librsvg               \
 --disable-outdev=oss            \
 --disable-indev=oss
