patch -p1 < /mss/repo/pkg-management/patches/ffmpeg-4.2.2/0001-libavutil-clean-up-unused-FF_SYMVER-macro.patch

sed -i 's/-lflite"/-lflite -lasound"/' configure

mkdir build
cd build

../configure \
 --prefix=/usr             \
 --disable-static          \
 --enable-shared           \
 --enable-gpl              \
 --enable-version3         \
 --enable-gnutls           \
 --enable-libass           \
 --enable-libfontconfig    \
 --enable-libfreetype      \
 --enable-libfribidi       \
 --enable-libmp3lame       \
 --enable-libopenjpeg      \
 --enable-libopus          \
 --enable-libvpx           \
 --enable-libwebp          \
 --enable-libx264          \
 --enable-libx265          \
 --enable-libxml2          \
 --enable-opengl           \
 --enable-libdrm           \
 --disable-libcaca         \
 --disable-libv4l2         \
 --disable-librsvg         \
 --disable-v4l2-m2m        \
 --disable-avx             \
 --disable-avx2            \
 --disable-avx512          \
 --disable-debug           \
 --disable-outdev=oss,v4l2 \
 --disable-indev=oss,v4l2
