# > 1
export      CC="clang"
export     CXX="clang++"
export      LD="clang"
export      AR="llvm-ar"
export      AS="clang"
export      NM="llvm-nm"
export   STRIP="llvm-strip"
export  RANLIB="llvm-ranlib"
export OBJCOPY="llvm-objcopy"
export OBJDUMP="llvm-objdump"
export OBJSIZE="llvm-size"
export READELF="llvm-readelf"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fuse-ld=lld -mllvm -polly -flto=thin -flto-jobs=2"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2 -Wl,--icf=all -Wl,-lto-O3 -Wl,--thinlto-jobs=2 -Wl,--thinlto-cache-dir=/mss/work/thinltocache"

# > 2
./bootstrap.py

./waf configure          \
 --prefix=/usr           \
 --confdir=/etc/mpv      \
 --enable-libarchive     \
 --disable-libmpv-shared

./waf build

# > 3
./waf install --destdir=$PWD/KEK
cd $PWD/KEK/usr/bin
strip --strip-all mpv
doas -- mv mpv /usr/bin/mpv
