# 1
pdir="/mss/repo/pkg-management/patches/v4l-utils-1.20.0"
patch -p1 < "${pdir}"/getsubopt.patch
patch -p1 < "${pdir}"/types.patch

# 2
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      NM="x86_64-apathy-linux-musl-gcc-nm"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -flto=2 -fuse-linker-plugin -fno-fat-lto-objects -D__off_t=off_t -largp"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# 3
./configure \
 --build=$CBUILD           \
 --host=$CHOST             \
 --prefix=/usr             \
 --sysconfdir=/etc         \
 --mandir=/usr/share/man   \
 --infodir=/usr/share/info \
 --localstatedir=/var      \
\
 --disable-static                 \
 --disable-nls                    \
 --disable-libdvbv5               \
 --disable-v4l-utils              \
 --disable-v4l2-compliance-libv4l \
 --disable-v4l2-ctl-libv4l        \
 --disable-v4l2-ctl-stream-to     \
 --disable-qv4l2                  \
 --disable-qvidcap                \
 --disable-bpf                    \
 --without-libintl-prefix

# 3
make -j1 DESTDIR=$PWD/KEK install
make -j1 install
