# > 1
./configure \
 --host=$CHOST     \
 --build=$CBUILD   \
 --prefix=/usr     \
\
 --sysconfdir=/etc \
 --disable-shared  \
 --disable-nls     \
 --disable-docs    \
 --without-modules \
 --without-perl    \
 --without-magick-plus-plus

# > 2
make
doas -- make install-binPROGRAMS install-exec-local

# > 
doas -- rm -rfv \
 /usr/lib/libMagickCore-7.Q16HDRI.a  \
 /usr/lib/libMagickWand-7.Q16HDRI.a  \
 /usr/lib/libMagickCore-7.Q16HDRI.la \
 /usr/lib/libMagickWand-7.Q16HDRI.la
