# 1 > glm
cdt1
unzip /mss/work/sauces/glm-0.9.9.6.zip
cd glm

mkdir -pv      /mss/work/table/usr/include/
cp    -rv  glm /mss/work/table/usr/include/

pdir=/mss/repo/pkg-management/patches/glm-0.9.9.6
mkdir -pv      /mss/work/table/usr/lib/pkgconfig/
sed            "s/@VERSION@/0.9.9.6/" "${pdir}"/glm.pc.in                 > /mss/work/table/usr/lib/pkgconfig/glm.pc

mkdir -pv      /mss/work/table/usr/lib/cmake/glm/
sed            "s/@VERSION@/0.9.9.6/" "${pdir}"/glmConfigVersion.cmake.in > /mss/work/table/usr/lib/cmake/glm/glmConfigVersion.cmake
sed            "s/@VERSION@/0.9.9.6/" "${pdir}"/glmConfig.cmake.in        > /mss/work/table/usr/lib/cmake/glm/glmConfig.cmake
install -Dm644                        "${pdir}"/glmTargets.cmake            /mss/work/table/usr/lib/cmake/glm/glmTargets.cmake

cd ..
rm -rf glm/

export PKG_CONFIG_PATH="/mss/work/table/usr/lib/pkgconfig:$PKG_CONFIG_PATH"
export          CFLAGS="$CFLAGS   -I/mss/work/table/usr/include"
export        CXXFLAGS="$CXXFLAGS -I/mss/work/table/usr/include"
export         LDFLAGS="$LDFLAGS  -I/mss/work/table/usr/include"

# 2 > glew
tar xf /mss/work/sauces/glew-2.1.0.tgz
cd glew-2.1.0/

sed -i 's|lib64|lib|' config/Makefile.linux
make CFLAGS.EXTRA="$CFLAGS -fPIC"
doas -- make GLEW_DEST="/usr" install

cd ..
rm -rf glew-2.1.0/

# 3 > slop
tar xf /mss/work/sauces/slop-7.4.tar.gz
cd slop-7.4/

mkdir build
cd    build

cmake .. -Wno-dev -GNinja \
 -DCMAKE_INSTALL_PREFIX=/usr   \
 -DCMAKE_INSTALL_LIBDIR=lib    \
 -DBUILD_SHARED_LIBS=True      \
 -DCMAKE_BUILD_TYPE=Release    \
 -DCMAKE_CXX_FLAGS="$CXXFLAGS" \
 -DGLM_INCLUDE_DIR=/mss/work/table/usr/include/glm

samu
doas -- samu install

cd ../../
rm -rf slop-7.4/

# 4 > maim
tar xf /mss/work/sauces/maim-5.5.3.tar.gz
cd maim-5.5.3/

mkdir build
cd    build

cmake .. -Wno-dev -GNinja \
 -DCMAKE_INSTALL_PREFIX=/usr  \
 -DCMAKE_BUILD_TYPE=Release   \
 -DCMAKE_CXX_FLAGS="$CXXFLAGS"

samu
doas -- samu install
doas -- rm -rfv /usr/share/man /usr/share/doc /usr/lib/libGLEW.a
