# > 1
pdir=/mss/repo/pkg-management/patches/mupdf-1.16.1
patch -p1 < "${pdir}"/mupdf-1.14-libressl.patch

# > 2
rm -rf thirdparty/{freeglut,freetype,harfbuzz,jbig2dec,libjpeg,openjpeg,zlib}

# > 3
export CFLAGS="${CFLAGS} -fPIC"
export CXXFLAGS="${CFLAGS}"
export USE_SYSTEM_LIBS='yes'

# > 4
make build=release apps
make build=release prefix=$PWD/KEK/usr install

# > 5
mv KEK/usr/bin/mupdf-gl ..
cd ..
pkgup mupdf-gl mupdf-gl-1.16.1
