# > 1
rm -rf thirdparty/{freeglut,freetype,harfbuzz,jbig2dec,libjpeg,openjpeg,zlib}

# > 2
export   CFLAGS="${CFLAGS}   -fPIC"
export CXXFLAGS="${CXXFLAGS} -fPIC"
export  LDFLAGS="${LDFLAGS}  -fPIC"

export USE_SYSTEM_LIBS='yes'

# > 3
make build=release apps
make build=release prefix=$PWD/KEK/usr install

# > 4
doas -- mv KEK/usr/bin/mupdf-gl /usr/bin
