### directories
ac_add_options --prefix=/opt/waterfox-56.2.9
ac_add_options --libdir=/opt/waterfox-56.2.9/lib

### compiler stuff
ac_add_options --enable-optimize
ac_add_options --enable-eme=widevine
ac_add_options --target=x86_64-pc-linux-gnu
ac_add_options --enable-rust-simd

ac_add_options --disable-elf-hack

export MOZ_GECKO_PROFILER=
export MOZ_ENABLE_PROFILER_SPS=
export MOZ_PROFILING=
unset MOZ_TELEMETRY_REPORTING

mk_add_options MOZ_MAKE_FLAGS=-j2
mk_add_options AUTOCLOBBER=1
mk_add_options MOZ_OBJDIR=objdir

### branding
ac_add_options --with-app-name=waterfox
ac_add_options --with-app-basename=Waterfox
ac_add_options --with-branding=browser/branding/unofficial
ac_add_options --with-distribution-id=org.waterfoxproject

### features
ac_add_options --enable-application=browser
ac_add_options --disable-crashreporter
ac_add_options --disable-updater
ac_add_options --disable-tests

## sound related
ac_add_options --enable-startup-notification
ac_add_options --enable-alsa
ac_add_options --disable-pulseaudio

## disable gnome stuff
ac_add_options --disable-gconf
ac_add_options --disable-dbus

## disable botnet
ac_add_options --disable-necko-wifi

## waterfox stuff
ac_add_options --disable-js-shell
ac_add_options --disable-maintenance-service
ac_add_options --disable-profiling
ac_add_options --disable-signmar
ac_add_options --disable-verify-mar
