@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#personal-bookmarks .bookmark-item[container="true"] .toolbarbutton-icon {display:                       none !important;}
#personal-bookmarks #PlacesToolbar toolbarbutton.bookmark-item           {margin:                         0px !important;
                                                                          padding:                        2px !important;}
#PlacesToolbar .bookmark-item:hover                                      {border-radius:                  0px !important;}
#urlbar{                                                                  border-radius:                  0px !important;}
