sed -i 's/-Werror//'                          Makefile
sed -i 's/shell git/shell false/'             Makefile
sed -i 's/ncursesw5-config/ncursesw6-config/' Makefile

make \
 LUA=1         \
 ASTYLE=0      \
 ZLEVELS=1     \
 RELEASE=1     \
 LOCALIZE=0    \
 BACKTRACE=0   \
 USE_XDG_DIR=1 \
 LUA_BINARY="/usr/bin/lua5.2"    \
 PREFIX="/opt/cataclysm-dda-0.e"

make \
 LUA=1         \
 ASTYLE=0      \
 ZLEVELS=1     \
 RELEASE=1     \
 LOCALIZE=0    \
 BACKTRACE=0   \
 USE_XDG_DIR=1 \
 LUA_BINARY="/usr/bin/lua5.2"    \
 PREFIX="/opt/cataclysm-dda-0.e" \
 DESTDIR="$PWD/KEK"              \
\
 install
