sed -i 's/^VL_LDFLAGS=$/VL_LDFLAGS=-Wl,-z,execheap/' \
 Makefile.target

mkdir build
cd    build

CFLAGS="${CFLAGS} -O2"        \
../configure                  \
 --cc="$CC"                   \
 --python=/usr/bin/python3    \
\
 --prefix=/usr                \
 --sysconfdir=/etc            \
 --localstatedir=/var         \
 --libexecdir=/usr/lib/qemu   \
\
 --target-list=x86_64-softmmu \
 --audio-drv-list=alsa        \
 --tls-priority=@QEMU,SYSTEM  \
\
 --disable-debug-info   \
 --disable-werror       \
 --disable-xen          \
 --disable-docs         \
 --disable-gtk          \
 --disable-sdl          \
\
 --enable-curses        \
 --enable-kvm           \
 --enable-modules       \
 --enable-pie
