[Desktop Entry]
Name=apathy browser
GenericName=Web Browser
Comment=Browse the World Wide Web
Exec=apathy-browser %u
Terminal=false
Type=Application
Icon=apathy-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=false
Actions=NewTab;NewWindow;NewPrivateWindow;
StartupWMClass="Pale moon"

[Desktop Action NewTab]
Name=Open new tab
Exec=apathy-browser -new-tab

[Desktop Action NewWindow]
Name=Open new window
Exec=apathy-browser -private-window
