echo '#define SYS_VIMRC_FILE "/etc/vimrc"' >> src/feature.h

./configure \
 --build="${CBUILD}"               \
 --host="${CHOST}"                 \
 --prefix=/usr                     \
 --with-compiledby="mssx86"        \
 --with-tlib=ncursesw              \
 --with-features=huge              \
\
 --enable-cscope                   \
 --enable-multibyte                \
 --disable-acl                     \
 --disable-arabic                  \
 --disable-canberra                \
 --disable-darwin                  \
 --disable-desktop-database-update \
 --disable-farsi                   \
 --disable-gpm                     \
 --disable-gtktest                 \
 --disable-gui                     \
 --disable-icon-cache-update       \
 --disable-luainterp               \
 --disable-mzschemeinterp          \
 --disable-netbeans                \
 --disable-nls                     \
 --disable-perlinterp              \
 --disable-python3interp           \
 --disable-pythoninterp            \
 --disable-rubyinterp              \
 --disable-selinux                 \
 --disable-smack                   \
 --disable-sysmouse                \
 --disable-tclinterp               \
 --disable-xim                     \
 --without-gnome                   \
 --without-x

rm -rfv \
 /usr/bin/vimtutor                      \
 /usr/share/applications                \
 /usr/share/icons/hicolor               \
 /usr/share/icons/locolor               \
 /usr/share/man                         \
 /usr/share/vim/vim82/defaults.vim      \
 /usr/share/vim/vim82/doc               \
 /usr/share/vim/vim82/tutor             \
 /usr/share/vim/vim82/vimrc_example.vim \
 /usr/share/vim/vim82/gvimrc_example.vim
