# 1
export LIBRARY_PATH=$(llvm-config --libdir)
export LDFLAGS=" -Wl,-rpath=/opt/apathy-browser-68.6.0esr"
export LDFLAGS="${LDFLAGS} -Wl,--as-needed -Wl,--no-keep-memory -Wl,--stats"
export CFLAGS="-march=native -mtune=native -O2"
export CXXFLAGS="${CFLAGS} -fno-delete-null-pointer-checks"
export CC='/opt/llvm-9.0.1/bin/clang'
export CXX='/opt/llvm-9.0.1/bin/clang++'
export AR='/opt/llvm-9.0.1/bin/llvm-ar'
export NM='/opt/llvm-9.0.1/bin/llvm-nm'
export RANLIB='/opt/llvm-9.0.1/bin/llvm-ranlib'
export MOZ_LINK_FLAGS="${LDFLAGS}"
export MOZ_DEBUG_FLAGS=-g0
export RUSTFLAGS=-Cdebuginfo=0

# 2 >> apply musl fixes
repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-esr"
muslpdir="${repodir}/musl-build"
patch -p1 < ${muslpdir}/0001-fix-bug-1261392.patch
patch -p1 < ${muslpdir}/0002-fix-fortify-system-wrappers.patch
patch -p1 < ${muslpdir}/0003-fix-seccomp-bpf.patch
patch -p1 < ${muslpdir}/0004-fix-toolkit.patch
patch -p1 < ${muslpdir}/0005-fix-tools.patch
patch -p1 < ${muslpdir}/0006-fix-webrtc-glibcisms.patch
patch -p1 < ${muslpdir}/0007-mallinfo.patch
cp -v ${muslpdir}/stab.h toolkit/crashreporter/google-breakpad/src/

# 3.1 >> remove fxmonitor, screenshots, webcompat
rm -rfv browser/extensions/fxmonitor
rm -rfv browser/extensions/report-site-issue
rm -rfv browser/extensions/screenshots
rm -rfv browser/extensions/webcompat

# 3.2 >> remove pocket
rm -rfv browser/components/pocket

# 3.3 >> apply apathy-browser patches
abpdir="${repodir}/apathy-patches"
patch -p1 < ${abpdir}/0001-add-apathy-browser-branding.patch
patch -p1 < ${abpdir}/0002-remove-pocket.patch
patch -p1 < ${abpdir}/0003-remove-health-report.patch
patch -p1 < ${abpdir}/0004-remove-unwanted-extensions.patch

# 3.4 >> clear the default bookmarks
filesdir="${repodir}/files"
cp -v "${filesdir}"/bookmarks.html.in \
 browser/locales/generic/profile/bookmarks.html.in

# 3.5 >> add the contents of apathy-browser.js to firefox.js
cat "${filesdir}"/apathy-browser.js >> browser/app/profile/firefox.js

# 4
cp -v "${filesdir}"/mozconfig .

MOZ_NOSPAM=1 ./mach build
DESTDIR="$PWD/KEK" ./mach install

# 5
cd $PWD/KEK/opt/apathy-browser-68.6.0esr
rm -rfv \
 "./include"           \
 "./lib/firefox-devel" \
 "./share/idl"         \
 "./lib/firefox/gtk2"  \
 "./lib/firefox/browser/features/fxmonitor@mozilla.org.xpi"   \
 "./lib/firefox/browser/features/screenshots@mozilla.org.xpi" \
 "./lib/firefox/browser/features/webcompat@mozilla.org.xpi"   \
 "./lib/firefox/browser/features/webcompat-reporter@mozilla.org.xpi"
