# 1.1 >> set build vars
export LIBRARY_PATH=$(llvm-config --libdir)
export LDFLAGS=" -Wl,-rpath=/opt/apathy-browser-68.6.0esr"
export LDFLAGS="${LDFLAGS} -Wl,--as-needed -Wl,--no-keep-memory -Wl,--stats"
export CFLAGS="-march=native -mtune=native -O2"
export CXXFLAGS="${CFLAGS} -fno-delete-null-pointer-checks"
export CC='/opt/llvm-9.0.1/bin/clang'
export CXX='/opt/llvm-9.0.1/bin/clang++'
export AR='/opt/llvm-9.0.1/bin/llvm-ar'
export NM='/opt/llvm-9.0.1/bin/llvm-nm'
export RANLIB='/opt/llvm-9.0.1/bin/llvm-ranlib'
export MOZ_LINK_FLAGS="${LDFLAGS}"
export MOZ_DEBUG_FLAGS=-g0
export RUSTFLAGS=-Cdebuginfo=0

# 1.2 >> set directories
repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-esr"
filesdir="${repodir}/files"
pdir="${repodir}/patches"

# 2.1 >> apply musl fixes and remove extensions
patch -p1 < "${pdir}"/0001-fix-bug-1261392.patch
patch -p1 < "${pdir}"/0002-fix-fortify-system-wrappers.patch
patch -p1 < "${pdir}"/0003-fix-seccomp-bpf.patch
patch -p1 < "${pdir}"/0004-fix-toolkit.patch
patch -p1 < "${pdir}"/0005-fix-tools.patch
patch -p1 < "${pdir}"/0006-fix-webrtc-glibcisms.patch
patch -p1 < "${pdir}"/0007-mallinfo.patch
patch -p1 < "${pdir}"/0008-remove-pocket.patch
patch -p1 < "${pdir}"/0009-remove-health-report.patch
patch -p1 < "${pdir}"/0010-remove-unwanted-extensions.patch

# 2.2 >> remove fxmonitor, screenshots, webcompat and pocket
rm -rfv browser/extensions/fxmonitor
rm -rfv browser/extensions/report-site-issue
rm -rfv browser/extensions/screenshots
rm -rfv browser/extensions/webcompat
rm -rfv browser/components/pocket

# 3.1 >> add header from alpine
cp -vf "${filesdir}"/stab.h toolkit/crashreporter/google-breakpad/src/

# 3.2 >> clear the default bookmarks
cp -vf "${filesdir}"/bookmarks.html.in browser/locales/generic/profile/bookmarks.html.in

# 3.3 >> copy the mozconfig
cp -v "${filesdir}"/mozconfig .

# 4 >> start the build
MOZ_NOSPAM=1 ./mach build

# 5 >> install
DESTDIR="$PWD/KEK" ./mach install
rm -rfv $PWD/KEK/opt/firefox-68.6.0esr/firefox/gtk2
