# 1
export LIBRARY_PATH=$(llvm-config --libdir)
export LDFLAGS=" -Wl,-rpath=/opt/firefox-68.5.0esr"
export LDFLAGS="${LDFLAGS} -Wl,--as-needed -Wl,--no-keep-memory -Wl,--stats"

export CFLAGS="-march=native -mtune=native -O2"
export CXXFLAGS="${CFLAGS} -fno-delete-null-pointer-checks -fno-schedule-insns2"

export CC='/opt/llvm-9.0.1/bin/clang'
export CXX='/opt/llvm-9.0.1/bin/clang++'
export AR='/opt/llvm-9.0.1/bin/llvm-ar'
export NM='/opt/llvm-9.0.1/bin/llvm-nm'
export RANLIB='/opt/llvm-9.0.1/bin/llvm-ranlib'

export MOZ_LINK_FLAGS="${LDFLAGS}"
export MOZ_DEBUG_FLAGS=-g0
export RUSTFLAGS=-Cdebuginfo=0

# 2
ffpdir="/mss/repo/pkg-management/patches/firefox-68.5.0esr"
patch -p1 < ${ffpdir}/fix-bug-1261392.patch
patch -p1 < ${ffpdir}/fix-fortify-system-wrappers.patch
patch -p1 < ${ffpdir}/fix-seccomp-bpf.patch
patch -p1 < ${ffpdir}/fix-toolkit.patch
patch -p1 < ${ffpdir}/fix-tools.patch
patch -p1 < ${ffpdir}/fix-webrtc-glibcisms.patch
patch -p1 < ${ffpdir}/mallinfo.patch
cp -v ${ffpdir}/stab.h toolkit/crashreporter/google-breakpad/src/

# 3
ffcfgdir="/mss/repo/pkg-management/build-configs/www-browser/firefox-esr"
cp -v ${ffcfgdir}/mozconfig .

MOZ_NOSPAM=1 ./mach build
DESTDIR="$PWD/KEK" ./mach install

# 4
cd $PWD/KEK
rm -rfv \
 "./include"           \
 "./lib/firefox-devel" \
 "./share/idl"         \
 "./lib/firefox/gtk2"  \
 "./lib/firefox/browser/features/fxmonitor@mozilla.org.xpi"   \
 "./lib/firefox/browser/features/screenshots@mozilla.org.xpi" \
 "./lib/firefox/browser/features/webcompat@mozilla.org.xpi"   \
 "./lib/firefox/browser/features/webcompat-reporter@mozilla.org.xpi"
