# 1 >> extaction
tar xf /mss/work/sauces/firefox-68.10.0esr.source.tar.xz
cd     firefox-68.10.0/

# 2 >> build vars
export              CC="clang"
export             CXX="clang++"
export              AR="llvm-ar"
export              NM="llvm-nm"
export          RANLIB="llvm-ranlib"

export          CFLAGS="-march=native -mtune=native -O3 -w"
export         LDFLAGS=" -Wl,-rpath=/usr/lib/firefox"
export        CXXFLAGS="${CFLAGS}"
export       RUSTFLAGS="-C debuginfo=0 -C target-cpu=native"

export      MOZ_NOSPAM=1
export  MOZ_LINK_FLAGS="${LDFLAGS}"
export MOZ_DEBUG_FLAGS="-g0"

# 3 >> script vars
 repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-esr"
filesdir="${repodir}/files"
    pdir="${repodir}/patches"

# 4 >> apply musl fixes and remove extensions
patch -p1 < "${pdir}"/0001-fix-bug-1261392.patch
patch -p1 < "${pdir}"/0002-fix-fortify-system-wrappers.patch
patch -p1 < "${pdir}"/0003-fix-seccomp-bpf.patch
patch -p1 < "${pdir}"/0004-fix-toolkit.patch
patch -p1 < "${pdir}"/0005-fix-tools.patch
patch -p1 < "${pdir}"/0006-fix-webrtc-glibcisms.patch
patch -p1 < "${pdir}"/0007-mallinfo.patch
patch -p1 < "${pdir}"/0008-remove-pocket.patch
patch -p1 < "${pdir}"/0009-remove-unwanted-extensions.patch

# 5 >> remove fxmonitor, screenshots, webcompat and pocket
rm -rfv \
 browser/extensions/fxmonitor         \
 browser/extensions/report-site-issue \
 browser/extensions/screenshots       \
 browser/extensions/webcompat         \
 browser/components/pocket

# 6 >> add header from alpine
cp -vf "${filesdir}"/stab.h            \
 toolkit/crashreporter/google-breakpad/src/

# 7 >> clear the default bookmarks
cp -vf "${filesdir}"/bookmarks.html.in \
 browser/locales/generic/profile/bookmarks.html.in

# 8 >> start the build
cp -v "${filesdir}"/mozconfig .
./mach build

# 9 >> install
instdir="$PWD/KEK"

DESTDIR="${instdir}" ./mach install
rm -rfv "${instdir}"/usr/lib/firefox/gtk2

# 10 >> install prefs
install -v -Dm644 "${filesdir}"/vendor.js     \
 "${instdir}"/usr/lib/firefox/browser/defaults/preferences/vendor.js
install -v -Dm644 "${filesdir}"/policies.json \
 "${instdir}"/usr/lib/firefox/distribution/policies.json
