# 1 >> extraction
tar xf /mss/work/sauces/firefox-78.1.0esr.source.tar.xz
cd     firefox-78.1.0/

# 2 >> build vars
export              CC="clang"
export             CXX="clang++"
export              AR="llvm-ar"
export              AS="clang"
export              NM="llvm-nm"
export          RANLIB="llvm-ranlib"

export          CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fuse-ld=lld"
export        CXXFLAGS="${CFLAGS}"
export         LDFLAGS="${CFLAGS} -Wl,-rpath=/usr/lib/firefox -Wl,--as-needed -Wl,--gc-sections -Wl,-O2 -Wl,--icf=safe"

export       RUSTFLAGS="-Cdebuginfo=0 -Ctarget-cpu=native -Clinker=clang"

export     RUST_TARGET="x86_64-apathy-linux-musl"

export      MOZ_NOSPAM=1
export MOZ_DEBUG_FLAGS="-g0"

# 3 >> script vars
 repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-esr"
filesdir="${repodir}/files"
    pdir="${repodir}/patches"

# 4 >> apply musl fixes and remove extensions
patch -p1 < "${pdir}"/0001-fix-fortify-system-wrappers.patch
patch -p1 < "${pdir}"/0002-fix-tools.patch
patch -p1 < "${pdir}"/0003-mallinfo.patch
patch -p1 < "${pdir}"/0004-disable-moz-stackwalk.patch
patch -p1 < "${pdir}"/0005-fix-rust-target.patch
patch -p1 < "${pdir}"/0006-fix-webrtc-glibcisms.patch
patch -p1 < "${pdir}"/0007-include-struct-definitions-for-user_vfp.patch
patch -p1 < "${pdir}"/0008-allow-custom-rust-vendor.patch
patch -p1 < "${pdir}"/0009-remove-faulty-libvpx-check.patch
patch -p1 < "${pdir}"/0010-sandbox-fork.patch
patch -p1 < "${pdir}"/0011-disable-dbus-properly.patch
patch -p1 < "${pdir}"/0012-remove-unwanted-extensions.patch
patch -p1 < "${pdir}"/0013-remove-pocket.patch
patch -p1 < "${pdir}"/0014-disable-discoverystream.patch

# 5 >> add header from alpine
cp -vf "${filesdir}"/stab.h            \
 toolkit/crashreporter/google-breakpad/src/

# 6 >> clear the default bookmarks
cp -vf "${filesdir}"/bookmarks.html.in \
 browser/locales/generic/profile/bookmarks.html.in

# 7 >> clear sums
for sum in audio_thread_priority target-lexicon-0.9.0; do
 sed -i 's/\("files":{\)[^}]*/\1/' third_party/rust/${sum}/.cargo-checksum.json
done

# 8 >> remove fxmonitor, screenshots, webcompat and pocket
rm -rfv \
 browser/extensions/webcompat         \
 browser/extensions/doh-rollout       \ 
 browser/extensions/screenshots       \
 browser/extensions/report-site-issue \
 browser/components/pocket

# 9 >> start the build
cp -v "${filesdir}"/mozconfig .
./mach build

# 10 >> install
instdir="$PWD/KEK"

DESTDIR="${instdir}" ./mach install
rm -rfv "${instdir}"/usr/lib/firefox/gtk2

# 11 >> install prefs
install -v -Dm644 "${filesdir}"/vendor.js     \
 "${instdir}"/usr/lib/firefox/browser/defaults/preferences/vendor.js
install -v -Dm644 "${filesdir}"/policies.json \
 "${instdir}"/usr/lib/firefox/distribution/policies.json
