# 1.0 >> ondemands
cd /opt
doas -- tar xfp /mnt/mss/stuff/techy-bits/packaged-software/llvm-clang-10.0.0.tar
doas -- tar xfp /mnt/mss/stuff/techy-bits/packaged-software/rustc-1.42.0.tar.xz
doas -- tar xfp /mnt/mss/stuff/techy-bits/packaged-software/node.js-13.9.0.tar

export            PATH="/opt/llvm-10.0.0/bin:/opt/rustc-1.42.0/bin:$PATH"
export            PATH="/opt/node.js-13.9.0/bin:$PATH"
export    LIBRARY_PATH="/opt/llvm-10.0.0/lib:/opt/rustc-1.42.0/lib"
export LD_LIBRARY_PATH="${LIBRARY_PATH}"

# 1.1 >> set build vars
export              CC="clang"
export             CXX="clang++"
export              AR="llvm-ar"
export              NM="llvm-nm"
export          RANLIB="llvm-ranlib"

export          CFLAGS="-march=native -mtune=native -O2"
export        CXXFLAGS="${CFLAGS}"

export         LDFLAGS=" -Wl,-rpath=/usr/lib/firefox"
export         LDFLAGS="${LDFLAGS} -Wl,--as-needed -Wl,--no-keep-memory -Wl,--stats"
export  MOZ_LINK_FLAGS="${LDFLAGS}"
export MOZ_DEBUG_FLAGS="-g0"
export       RUSTFLAGS="-Cdebuginfo=0"


# 1.2 >> set directories
 repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-esr"
filesdir="${repodir}/files"
    pdir="${repodir}/patches"

# 2.1 >> apply musl fixes and remove extensions
patch -p1 < "${pdir}"/0001-fix-bug-1261392.patch
patch -p1 < "${pdir}"/0002-fix-fortify-system-wrappers.patch
patch -p1 < "${pdir}"/0003-fix-seccomp-bpf.patch
patch -p1 < "${pdir}"/0004-fix-toolkit.patch
patch -p1 < "${pdir}"/0005-fix-tools.patch
patch -p1 < "${pdir}"/0006-fix-webrtc-glibcisms.patch
patch -p1 < "${pdir}"/0007-mallinfo.patch
patch -p1 < "${pdir}"/0008-remove-pocket.patch
patch -p1 < "${pdir}"/0009-remove-health-report.patch
patch -p1 < "${pdir}"/0010-remove-unwanted-extensions.patch

# 2.2 >> remove fxmonitor, screenshots, webcompat and pocket
rm -rfv browser/extensions/fxmonitor
rm -rfv browser/extensions/report-site-issue
rm -rfv browser/extensions/screenshots
rm -rfv browser/extensions/webcompat
rm -rfv browser/components/pocket

# 3.1 >> add header from alpine
cp -vf "${filesdir}"/stab.h toolkit/crashreporter/google-breakpad/src/

# 3.2 >> clear the default bookmarks
cp -vf "${filesdir}"/bookmarks.html.in browser/locales/generic/profile/bookmarks.html.in

# 3.3 >> copy the mozconfig
cp -v "${filesdir}"/mozconfig .

# 4 >> start the build
MOZ_NOSPAM=1 ./mach build

# 5 >> install
DESTDIR="$PWD/KEK" ./mach install
rm -rfv $PWD/KEK/usr/lib/firefox/gtk2
install -Dm644 "${filesdir}"/vendor.js     "$KEK"/usr/lib/firefox/browser/defaults/preferences/vendor.js
install -Dm644 "${filesdir}"/policies.json "$KEK"/usr/lib/firefox/distribution/policies.json

