meson --prefix=/usr \
		-Dbzip2=enabled \
		-Dcdio_paranoia=disabled \
		-Dchromaprint=disabled \
		-Dcue=true \
		-Dcurl=enabled \
		-Ddbus=disabled \
		-Ddebug=false \
		-Deventfd=true \
		-Dexpat=enabled \
		-Dicu=enabled \
		-Did3tag=enabled \
		-Dinotify=true \
		-Dipv6=disabled \
		-Diso9660=disabled \
		-Dlibmpdclient=enabled \
		-Dlibsamplerate=enabled \
		-Dlibwrap=disabled \
		-Dmms=disabled \
		-Dnfs=disabled \
		-Dsignalfd=false \
		-Dsmbclient=disabled \
		-Dsoxr=disabled \
		-Dsqlite=enabled \
		-Dsystemd=disabled \
		-Dtest=false \
		-Dudisks=disabled \
		-Dupnp=enabled \
		-Dwebdav=enabled \
		-Dzeroconf=disabled \
		-Dzlib=disabled \
		-Dzzip=disabled \
		-Dalsa=enabled \
		-Dao=disabled \
		-Dfifo=true \
		-Djack=disabled \
		-Dopenal=disabled \
		-Doss=disabled \
		-Dpipe=true \
		-Dpulse=disabled \
		-Drecorder=false \
		-Dneighbor=false \
		-Dshine=disabled \
		-Dshout=enabled \
		-Dvorbisenc=enabled \
		-Dhttpd=true \
		-Dlame=enabled \
		-Dtwolame=disabled \
		-Dwave_encoder=false \
		-Dadplug=disabled \
		-Daudiofile=enabled \
		-Dfaad=disabled \
		-Dffmpeg=enabled \
		-Dflac=enabled \
		-Dfluidsynth=disabled \
		-Dgme=disabled \
		-Dmad=enabled \
		-Dmikmod=disabled \
		-Dmodplug=disabled \
		-Dmpcdec=disabled \
		-Dmpg123=enabled \
		-Dopus=disabled \
		-Dsidplay=disabled \
		-Dsndfile=disabled \
		-Dvorbis=enabled  \
		-Dwavpack=disabled \
		-Dwildmidi=disabled \
		-Dqobuz=disabled \
		-Dsoundcloud=disabled \
		-Dtidal=disabled \
		-Ddocumentation=false \
		-Dsndio=disabled \
		-Dsolaris_output=disabled \
		-Ddatabase=true \
		-Ddsd=true \
		-Dtcp=true \
		-Diconv=enabled ..
