# > 1
cdt1
git clone --depth=1 https://github.com/mssx86/mpd
cd mpd

# > 2
pushd /opt
doas -- tar xf \
 /mnt/mss/stuff/techy-bits/packaged-software/x220-boost-1.75.0-gcc-10.2.0-static-only.tar.zst
popd

# > 3
mkdir mybuild
cd    mybuild

# > 4
export       CFLAGS="${CFLAGS}   -L/opt/boost-1.75.0/lib -I/opt/boost-1.75.0/include"
export     CXXFLAGS="${CXXFLAGS} -L/opt/boost-1.75.0/lib -I/opt/boost-1.75.0/include"
export      LDFLAGS="${LDFLAGS}  -L/opt/boost-1.75.0/lib -I/opt/boost-1.75.0/include"
export   BOOST_ROOT="/opt/boost-1.75.0"
export LIBRARY_PATH="/opt/boost-1.75.0/lib"

meson \
 --prefix=/usr          \
\
 -Ddebug=false          \
 -Dipv6=disabled        \
 -Dtest=false           \
 -Ddocumentation=false  \
\
 -Dcue=true             \
 -Ddsd=true             \
 -Dtcp=true             \
 -Dfifo=true            \
 -Dpipe=true            \
 -Dhttpd=true           \
 -Dcurl=enabled         \
 -Dupnp=enabled         \
 -Ddatabase=true        \
 -Dffmpeg=enabled       \
 -Did3tag=enabled       \
 -Dwebdav=enabled       \
 -Dlibmpdclient=enabled \
..

time samu -j2
DESTDIR=$PWD/KEK samu install
cd KEK/usr/bin/
strip --strip-all -v mpd

# 5 > create the mpd group and user
groupadd mpd
useradd -c "mpd thingy" -d /var/lib/mpd -u 45 -g mpd -s /bin/nologin mpd

# 6 > add mpd to the audio group
gpasswd -a mpd audio

# 7 > create essential directories and hand over the ownership
mkdir /var/lib/mpd
touch /var/lib/mpd/database
chown -R mpd:mpd /var/lib/mpd

# 8 > init script won't be working, run mpd with:
doas -u mpd mpd /etc/mpd.conf

# 9 > once it errors out, do:
doas -- chown -R mpd:mpd /var/lib/mpd/log
