# > 1
gcd1 https://github.com/hrkfdn/mpdas
cd mpdas/

# > 2
make PREFIX=/usr CONFIG=/etc
make PREFIX=/usr CONFIG=/etc DESTDIR=$PWD/KEK install

# > 3
cd KEK/usr/bin/
strip --strip-all -v mpdas
doas -- mv mpdas /usr/bin
doas -- chown root:root mpdas

# > 4
doas -- cp -vf /mss/repo/directories/etc/mpdasrc /etc
doas -- chown root:root /etc/mpdasrc
