# > 1
export     CPPFLAGS="-I/mss/work/table/usr/include"
export      LDFLAGS="-L/mss/work/table/usr/lib"
export LIBRARY_PATH="/mss/work/table/usr/lib"

# > 2
./configure \
 --build=$CBUILD       \
 --host=$CHOST         \
 --prefix=/usr         \
\
 --enable-static-boost            \
 --with-boost=/mss/work/table/usr \
\
 --enable-clock      \
 --enable-outputs    \
 --enable-unicode    \
 --enable-visualizer \
\
 --with-curl \
 --with-fftw \
 --with-taglib

# > 3
cd src/
rm -rfv ncmpcpp

# > 4
x86_64-apathy-linux-musl-g++ \
 -march=native -mtune=native        \
 -std=c++14                         \
 -L/mss/work/table/usr/lib          \
\
 -o ncmpcpp \
 curses/formatted_color.o   curses/scrollpad.o         \
 curses/window.o            screens/browser.o          \
 screens/clock.o            screens/help.o             \
 screens/lastfm.o           screens/lyrics.o           \
 screens/media_library.o    screens/outputs.o          \
 screens/playlist.o         screens/playlist_editor.o  \
 screens/screen.o           screens/screen_type.o      \
 screens/search_engine.o    screens/sel_items_adder.o  \
 screens/server_info.o      screens/song_info.o        \
 screens/sort_playlist.o    screens/tag_editor.o       \
 screens/tiny_tag_editor.o  screens/visualizer.o       \
\
 utility/comparators.o      utility/html.o             \
 utility/option_parser.o    utility/string.o           \
 utility/type_conversions.o utility/wide_string.o      \
\
 actions.o bindings.o charset.o configuration.o        \
 curl_handle.o display.o enums.o format.o global.o     \
 helpers.o lastfm_service.o lyrics_fetcher.o           \
 macro_utilities.o mpdpp.o mutable_song.o ncmpcpp.o    \
 settings.o song.o song_list.o status.o statusbar.o    \
 tags.o title.o                                        \
\
 -Wl,-Bstatic  -lboost_date_time -lboost_filesystem    \
 -lboost_locale -lboost_program_options -lboost_regex  \
 -lboost_thread -lboost_system                         \
\
 -Wl,-Bdynamic -licui18n -licuuc -licudata -lmpdclient \
 -lreadline -lpthread -lncursesw -lfftw3 -lcurl -ltag
