# > 1
pushd /opt
doas -- tar xf \
 /mnt/mss/stuff/techy-bits/packaged-software/boost-1.72.0-gcc-10.1.0.tar.zst
popd

export      LDFLAGS="-L/opt/boost-1.72.0/lib"
export     CPPFLAGS="-I/opt/boost-1.72.0/include"
export LIBRARY_PATH="/opt/boost-1.72.0/lib"

# > 2
gcd1 https://github.com/ncmpcpp/ncmpcpp.git
cd ncmpcpp

# > 3
./autogen.sh

./configure \
 --build=$CBUILD       \
 --host=$CHOST         \
 --prefix=/usr         \
\
 --enable-clock        \
 --with-fftw           \
 --with-taglib         \
 --enable-outputs      \
 --enable-visualizer   \
 --enable-static-boost \
\
 --with-boost=/opt/boost-1.72.0

# > 4
time make -j2

# > 5
cd src/
strip --strip-all -v ncmpcpp
pkgup ncmpcpp ncmpcpp-0.9-$(date "+%Y%m%d")-boost-1.72.0-gcc-10.1.0
