# > 1
tar xf /mss/work/sauces/fftw-3.3.8.tar.gz
cd     fftw-3.3.8/

sed -e 's,AM_CONFIG_HEADER,AC_CONFIG_HEADERS,g' -i configure.ac
autoreconf -fi

./configure \
 --build=$CBUILD               \
 --host=$CHOST                 \
 --prefix=/mss/work/table/fftw \
\
 --disable-shared \
 --enable-static  \
 --enable-threads \
 --enable-openmp

make
make install

cd ..
rm -rf fftw-3.3.8/

# > 2
pushd /opt
doas -- tar xf \
 /mnt/mss/stuff/techy-bits/packaged-software/x220-boost-1.75.0-gcc-10.2.0-static-only.tar.zst
popd

export          CFLAGS="$CFLAGS   -L/opt/boost-1.75.0/lib -I/opt/boost-1.75.0/include -L/mss/work/table/fftw/lib -I/mss/work/table/fftw/include"
export         LDFLAGS="$LDFLAGS  -L/opt/boost-1.75.0/lib -I/opt/boost-1.75.0/include -L/mss/work/table/fftw/lib -I/mss/work/table/fftw/include"
export        CXXFLAGS="$CXXFLAGS -L/opt/boost-1.75.0/lib -I/opt/boost-1.75.0/include -L/mss/work/table/fftw/lib -I/mss/work/table/fftw/include"

export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/boost-1.75.0/lib:/mss/work/table/fftw/lib"
export    LIBRARY_PATH="$LD_LIBRARY_PATH"
export PKG_CONFIG_PATH="$PKG_CONFIG_PATH:/mss/work/table/fftw/lib/pkgconfig"

# > 3
tar xfvp /mss/work/sauces/ncmpcpp-0.9.1.tar.gz
cd ncmpcpp-0.9.1/

# > 4
./autogen.sh

./configure \
 --build=$CBUILD       \
 --host=$CHOST         \
 --prefix=/usr         \
\
 --enable-clock        \
 --with-fftw           \
 --with-taglib         \
 --enable-outputs      \
 --enable-visualizer   \
 --enable-static-boost \
\
 --with-boost=/opt/boost-1.75.0

# > 5
/bin/busybox time make -j7

# > 6
cd src/
strip --strip-all -v ncmpcpp
