# > 1
git clone --depth=1 https://github.com/notandy/ympd
cd ympd

# > 2
mkdir build
cd    build

cmake -Wno-dev -GNinja \
 -DCMAKE_INSTALL_PREFIX="/usr"                    \
 -DCMAKE_BUILD_TYPE=Release                       \
 -DCMAKE_C_FLAGS_RELEASE_INIT="$CFLAGS"           \
 -DCMAKE_EXE_LINKER_FLAGS_RELEASE_INIT="$LDFLAGS" \
\
 -DCMAKE_AR="$AR"                                 \
 -DCMAKE_NM="$NM"                                 \
 -DCMAKE_RANLIB="$RANLIB"                         \
 -DCMAKE_C_COMPILER="$CC"                         \
\
 -DWITH_MPD_HOST_CHANGE=ON                        \
 -DWITH_DYNAMIC_ASSETS=OFF                        \
 -DWITH_IPV6=OFF                                  \
 -DWITH_SSL=ON                                    \
\
 ..

samu

# > 3
strip --strip-all ympd
doas -- chown -R root:root ympd
doas -- mv ympd /usr/bin
