# > 1
pdir="/mss/repo/pkg-management/patches/lilo-24.2"
patch -p1 < "${pdir}"/lilo-24.1-novga.patch
patch -p1 < "${pdir}"/lilo-24.1-remove-O_ACCMODE.patch
patch -p1 < "${pdir}"/lilo-24.1-remove__GLIBC__.patch

sed -i Makefile src/Makefile \
 -e '/strip/d;s|^	make|	$(MAKE)|g' \
 -e '/images install/d'                    \
 -e '/images all/d'

# >2
export LC_ALL=C
make all

# > 3
instdir="${PWD/KEK}"
make DESTDIR="${instdir}" install

mkdir "${instdir}"/usr/bin
mv    "${instdir}"/sbin/lilo           "${instdir}"/usr/bin/
mv    "${instdir}"/usr/sbin/*          "${instdir}"/usr/bin/
mv    "${instdir}"/usr/bin/keytab-lilo "${instdir}"/usr/bin/keytab-lilo.pl

rm -rf \
 "${instdir}"/etc/initramfs \
 "${instdir}"/etc/kernel    \
 "${instdir}"/sbin          \
 "${instdir}"/usr/sbin
