# > 1
tar xf /mss/work/sauces/bin86-0.16.21.tar.gz
cd bin86-0.16.21/

pdir="/mss/repo/pkg-management/patches/bin86-0.16.21"
patch -p1 < "${pdir}"/bin86-0.16.17-x86_64-1.patch

make PREFIX="${PWD}"/KEK

mkdir -pv "${PWD}"/KEK/{bin,share/man/man1}
make PREFIX="${PWD}"/KEK MANDIR="${PWD}"/KEK/share/man/man1 install

export PATH="${PATH}:${PWD}/KEK/bin"
cd ..

# > 2
tar xf /mss/work/sauces/lilo-24.2.tar.gz
cd lilo-24.2/

pdir="/mss/repo/pkg-management/patches/lilo-24.2"
patch -p1 < "${pdir}"/0001-novga.patch
patch -p1 < "${pdir}"/0002-remove-O_ACCMODE.patch
patch -p1 < "${pdir}"/0003-remove__GLIBC__.patch
patch -p1 < "${pdir}"/0004-fix-gcc-10.patch

sed -i Makefile src/Makefile \
 -e '/strip/d;s|^	make|	$(MAKE)|g' \
 -e '/images install/d'                    \
 -e '/images all/d'

make all

# > 3
instdir="${PWD}/KEK"
make DESTDIR="${instdir}" install

rm -rfv \
 "${instdir}"/etc/kernel            \
 "${instdir}"/etc/initramfs         \
 "${instdir}"/etc/lilo.conf_example \
 "${instdir}"/usr/share/man         \
 "${instdir}"/usr/sbin/keytab-lilo  \
 "${instdir}"/usr/sbin/liloconfig   \
 "${instdir}"/usr/sbin/mkrescue     \
 "${instdir}"/usr/sbin/lilo-uuid-diskid

# > 4
doas -s

make install

rm -rfv \
 /etc/kernel            \
 /etc/initramfs         \
 /etc/lilo.conf_example \
 /usr/share/man         \
 /usr/sbin/keytab-lilo  \
 /usr/sbin/liloconfig   \
 /usr/sbin/mkrescue     \
 /usr/sbin/lilo-uuid-diskid
