patch -p1 < lilo-24.1-novga.patch
patch -p1 < lilo-24.1-remove-O_ACCMODE.patch
patch -p1 < lilo-24.1-remove__GLIBC__.patch

sed -i Makefile src/Makefile               \
 -e '/strip/d;s|^	make|	$(MAKE)|g' \
 -e '/images install/d'                    \
 -e '/images all/d'

export LC_ALL=C
make all

# set pkgdir to $PWD/KEK
make DESTDIR="${pkgdir}" install

mkdir "${pkgdir}"/usr/bin
mv "${pkgdir}"/sbin/lilo "${pkgdir}"/usr/bin/
mv "${pkgdir}"/usr/sbin/* "${pkgdir}"/usr/bin/
rm -rf "${pkgdir}"/sbin
rm -rf "${pkgdir}"/usr/sbin
mv "${pkgdir}"/usr/bin/keytab-lilo "${pkgdir}"/usr/bin/keytab-lilo.pl
rm -rf "${pkgdir}"/etc/initramfs
rm -rf "${pkgdir}"/etc/kernel
