# > 1
./bootstrap.sh \
 --with-toolset=gcc  \
 --without-icu       \
 --with-python="/usr/bin/python3" \
 --prefix="$PWD/KEK/opt/boost-1.72.0"

# > 2
mybee2(){
time ./b2 "$@" -j 2                   \ 
 --prefix="$PWD/KEK/opt/boost-1.72.0" \
 --layout=system                      \
\
   cflags="-march=native -mtune=native -fPIC -w -O2"            \
 cxxflags="-march=native -mtune=native -fPIC -w -O2 -std=c++14" \
\
       toolset=gcc           \
        python=3.8           \
       variant=release       \
 debug-symbols=off           \
     threading=multi         \
  runtime-link=shared        \
          link=shared,static
}

# > 3
mybee2 stage
mybee2 install

# > 4
cd KEK/opt/boost-1.72.0/lib
find . \
 -type f -name \*.a   -exec strip --strip-debug    -v {} ';'

find .\
 -type f -name \*.so* -exec strip --strip-unneeded -v {} ';'

# > 5
cd ../../../..
mv KEK/opt/boost-1.72.0/ ../boost-1.72.0
cd ..
pkgup boost-1.72.0/ boost-1.72.0-gcc-9.3.0
