# > 1
./bootstrap.sh \
 --with-toolset=gcc  \
 --without-icu       \
 --with-python="/usr/bin/python3" \
 --prefix="$PWD/KEK/opt/boost-1.75.0"

# > 2
mybee2(){
time ./b2 "$@" -j 2                      \
 --prefix="$PWD/KEK/opt/boost-1.75.0"    \
 --layout=system                         \
\
   cflags="${CFLAGS}   -fPIC"            \
 cxxflags="${CXXFLAGS} -fPIC -std=c++14" \
\
       toolset=gcc                       \
        python=3.8                       \
       variant=release                   \
 debug-symbols=off                       \
     threading=multi                     \
  runtime-link=static                    \
          link=static
}

# > 3
mybee2 stage
mybee2 install

# > 4
find KEK/opt/boost-1.75.0/lib \
 -type f -name \*.a   -exec strip --strip-debug    -v {} ';'
