# 1
export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      LD="ld.bfd"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      AS="x86_64-apathy-linux-musl-gcc-as"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export   STRIP="strip"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"
export OBJCOPY="objcopy"
export OBJDUMP="objdump"
export OBJSIZE="size"
export READELF="readelf"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fgraphite-identity -floop-nest-optimize -ftree-vectorize -flto=2 -fuse-linker-plugin -fno-fat-lto-objects"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# 2
./configure \
 --build=$CBUILD \
 --host=$CHOST   \
 --prefix=/usr   \
 --disable-static

# 3
time make -j5

# 4
time make check -j1
