# > 1
cdt1
tar xfp /mss/work/sauces/nspr-4.29.tar.gz
cd nspr-4.29/nspr/

# > 2
pdir="/mss/repo/pkg-management/patches/nspr-4.29"
patch -p1 < "${pdir}"/nspr-4.8.4-darwin-install_name.patch
patch -p1 < "${pdir}"/nspr-4.8.9-link-flags.patch
patch -p1 < "${pdir}"/nspr-4.9.5_nspr_config.patch
patch -p1 < "${pdir}"/nspr-4.10.6-solaris.patch
patch -p1 < "${pdir}"/nspr-4.21-ipv6-musl-support.patch
patch -p1 < "${pdir}"/nspr-4.23-prtime.patch

sed -ri 's#^(RELEASE_BINS =).*#\1#' pr/src/misc/Makefile.in

mv configure.in configure.ac
autoconf -v

sed -i -e \
 's/\$(MKSHLIB) \$(OBJS)/\$(MKSHLIB) \$(LDFLAGS) \$(OBJS)/g' \
  ./config/rules.mk

# > 3
export HOST_CC="${CC}"
export HOST_CFLAGS="${CFLAGS}"
export HOST_LDFLAGS="${LDFLAGS}"

./configure \
 --prefix=/usr                  \
 --libdir=/usr/lib              \
 --includedir=/usr/include/nspr \
 --with-mozilla                 \
 --with-pthreads                \ 
 --enable-64bit                 \
 --enable-optimize              \   
 --disable-ipv6                 \
 --disable-debug

make

# > 4
make DESTDIR=$PWD/KEK install -j1
rm -rfv \
 "$PWD/KEK"/usr/lib/libnspr4.a \
 "$PWD/KEK"/usr/lib/libplc4.a  \
 "$PWD/KEK"/usr/lib/libplds4.a \
 "$PWD/KEK"/usr/include/nspr/md

# > 5
doas -- make install -j1
doas -- rm -rfv \
 /usr/lib/libnspr4.a \
 /usr/lib/libplc4.a  \
 /usr/lib/libplds4.a \
 /usr/include/nspr/md
