# > 1
export   CFLAGS="${CFLAGS}   -U_FORTIFY_SOURCE -g1"
export CXXFLAGS="${CXXFLAGS} -U_FORTIFY_SOURCE -g1"
export  LDFLAGS="${LDFLAGS}  -U_FORTIFY_SOURCE -g1" 

pdir=/mss/repo/testing/patches/webkitgtk-2.28.0
patch -p1 < "${pdir}"/fix-fast-memory-disabled.patch
patch -p1 < "${pdir}"/fix-openjpeg.patch
patch -p1 < "${pdir}"/lower-stack-usage.patch
patch -p1 < "${pdir}"/musl-fixes.patch

# 2
mkdir build
cd    build

cmake  -Wno-dev -G Ninja         \
 -DLIB_INSTALL_DIR=/usr/lib      \
 -DCMAKE_INSTALL_PREFIX=/usr     \
\
 -DPORT=GTK                      \
 -DUSE_LD_GOLD=OFF               \
 -DCMAKE_SKIP_RPATH=ON           \
 -DCMAKE_CXX_FLAGS="$CXXFLAGS"   \
 -DCMAKE_BUILD_TYPE=MinSizeRel   \
\
 -DUSE_WOFF2=OFF                 \
 -DUSE_LIBHYPHEN=OFF             \
 -DUSE_LIBNOTIFY=OFF             \
 -DUSE_LIBSECRET=OFF             \
 -DENABLE_BUBBLEWRAP_SANDBOX=OFF \
\
 -DENABLE_INTL=OFF               \
 -DENABLE_WEBGL=OFF              \
 -DUSE_WPE_RENDERER=OFF          \
 -DENABLE_SPELLCHECK=OFF         \
 -DENABLE_GEOLOCATION=OFF        \
 -DENABLE_MINIBROWSER=OFF        \
 -DENABLE_SAMPLING_PROFILER=OFF  \
\
 -DENABLE_VIDEO=ON               \
 -DUSE_OPENJPEG=ON               \
 -DENABLE_GLES2=ON               \
 -DENABLE_OPENGL=ON              \
 -DENABLE_WEB_AUDIO=ON           \
 -DENABLE_WEB_CRYPTO=ON          \
 -DENABLE_INTROSPECTION=OFF      \
..

samu JavaScriptCore
samu 
