# > 1
LIBS="-lgmp" ./configure \
 --build=$CBUILD           \
 --host=$CHOST             \
 --prefix=/usr             \
 --sysconfdir=/etc         \
 --mandir=/usr/share/man   \
 --infodir=/usr/share/info \
\
 --disable-rpath           \
 --disable-static          \
 --disable-guile           \
 --disable-valgrind-tests  \
 --disable-openssl-compatibility 
