# > 1
pdir="/mss/repo/pkg-management/patches/libressl-3.1.4"
patch -p0 < "${pdir}"/0001-fail-instead-of-trying-fallback.patch

# > 2
./configure        \
 --build=$CBUILD   \
 --host=$CHOST     \
 --prefix=/usr     \
 --sysconfdir=/etc \
 --localstatedir=/var

# > 3
make
make install

# > 4
cd /etc/ssl
a2 https://curl.haxx.se/ca/cacert.pem
mv -vf cacert.pem cert.pem
