# > 1
pdir="/mss/repo/pkg-management/patches/libressl-3.3.1"
patch -p0 < "${pdir}"/0001-fail-instead-of-trying-fallback.patch

# > 2
./configure           \
 --build=$CBUILD      \
 --host=$CHOST        \
 --prefix=/usr        \
 --sysconfdir=/etc    \
 --localstatedir=/var \
 --disable-nc         \
 --disable-static

# > 3
make -j6
doas -- make install-strip

# > 4
cd /etc/ssl
doas -- curl -O https://curl.haxx.se/ca/cacert.pem
doas -- mv -fv cacert.pem cert.pem
