# >> 1
export PATH="$PATH:/mss/bin/dummy"

# >> 2
mkdir  build
cd     build

# >> 3
../configure \
 --host=$CHOST                   \
 --build=$CBUILD                 \
 --target=$CHOST                 \
 --prefix=/usr                   \
\
 --enable-shared                 \
 --disable-static                \
\
 --enable-targets=x86_64-pep     \
 --enable-default-hash-style=gnu \
 --enable-ld=default             \
 --enable-lto                    \
 --enable-plugins                \
 --enable-threads                \
\
 --with-mmap                     \
 --with-system-zlib              \
\
 --disable-nls                   \
 --disable-werror                \
 --disable-multilib              \
 --disable-gdb                   \
 --disable-gold                  \
 --disable-readline              \
 --disable-gprof

# >> 4
make configure-host
make tooldir=/usr

# >> 5
make tooldir=/usr DESTDIR=$PWD/KEK install
doas -- make tooldir=/usr install
