# >> 0
export     PATH="$PATH:/mss/bin/dummy"

export       CC="x86_64-apathy-linux-musl-gcc"
export      CXX="x86_64-apathy-linux-musl-g++"
export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fgraphite-identity -floop-nest-optimize -ftree-vectorize"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"
export CXXFLAGS="${CFLAGS}"

# >> 1
mkdir  build
cd     build

# >> 2
../configure \
 --host=$CHOST                   \
 --build=$CBUILD                 \
 --target=$CHOST                 \
 --prefix=/usr                   \
\
 --enable-shared                 \
 --disable-static                \
\
 --enable-targets=x86_64-pep     \
 --enable-default-hash-style=gnu \
 --enable-ld=default             \
 --enable-lto                    \
 --enable-plugins                \
 --enable-threads                \
\
 --with-mmap                     \
 --with-system-zlib              \
\
 --disable-nls                   \
 --disable-werror                \
 --disable-multilib              \
 --disable-gdb                   \
 --disable-gold                  \
 --disable-readline              \
 --disable-gprof

# >> 3
make configure-host
make tooldir=/usr

# >> 4
make tooldir=/usr DESTDIR=$PWD/KEK install
doas -- make tooldir=/usr install
