# 1 > extract gcc and isl sauce.
tar xf /mss/work/sauces/gcc-10.2.0.tar.xz
cd gcc-10.2.0

tar xf /mss/work/sauces/isl-0.21.tar.xz
mv isl-0.21/ isl/

# 2 > export vars.
           pdir="/mss/repo/pkg-management/patches/gcc-10.2.0"
         bldtrp="x86_64-apathy-linux-musl"
          yoorl="https://github.com/mssx86/apathy"

export       CC="x86_64-apathy-linux-musl-gcc"
export      CXX="x86_64-apathy-linux-musl-g++"
export   CFLAGS="-w -Ofast -mtune=native -march=native -fstack-protector-strong -fgraphite-identity -floop-nest-optimize -ftree-vectorize"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2" 
export CXXFLAGS="${CFLAGS}"

# 3 > _FORTIFY_SOURCE needs an optimization level.
sed -i "/ac_cpp=/s/\$CPPFLAGS/\$CPPFLAGS -Ofast/"        gcc/configure
sed -i "/ac_cpp=/s/\$CPPFLAGS/\$CPPFLAGS -Ofast/"  libiberty/configure

# 4 > change the default libdir to /lib from /lib64.
sed -i '/m64=/s/lib64/lib/' gcc/config/i386/t-linux64
sed -i 's/lib64/lib/'       gcc/config/i386/linux64.h

# 5 > apply patches from void.
patch -p0 < "${pdir}"/0001-fix-cxxflags-passing.patch
patch -p0 < "${pdir}"/0002-fix-musl-execinfo.patch
patch -p0 < "${pdir}"/0003-libffi_gnulinux.patch
patch -p1 < "${pdir}"/0004-libssp-musl.patch

# 6 > action.
mkdir build
cd    build

libat_cv_have_ifunc=no           \
../configure                     \
\
 --prefix=/usr                   \
 --libdir=/usr/lib               \
 --mandir=/usr/share/man         \
 --infodir=/usr/share/info       \
\
 --build="${bldtrp}"             \
 --with-bugurl="${yoorl}"        \
 --with-pkgversion="apathy"      \
\
 --enable-checking="release"     \
 --enable-languages="c,c++,lto"  \
 --enable-cxx-flags="${CFLAGS}"  \
\
 --with-isl                      \
 --with-linker-hash-style="gnu"  \
 --with-arch=native              \
 --with-cpu=native               \
 --with-system-zlib              \
 --enable-__cxa_atexit           \
 --enable-decimal-float          \
 --enable-default-ssp            \
 --enable-fast-character         \
 --enable-linker-build-id        \
 --enable-lto                    \
 --enable-plugin                 \
 --enable-serial-configure       \
 --enable-shared                 \
 --enable-threads="posix"        \
 --enable-tls                    \
 --enable-vtable-verify          \
\
 --without-included-gettext      \
 --disable-default-pie           \
 --disable-fixed-point           \
 --disable-libmpx                \
 --disable-libmudflap            \
 --disable-libsanitizer          \
 --disable-libstdcxx-pch         \
 --disable-libunwind-exceptions  \
 --disable-multilib              \
 --disable-nls                   \
 --disable-symvers               \
 --disable-target-libiberty      \
 --disable-werror

# 8 > cringe.
sed -i "s|-g -O2|-Ofast|g" Makefile
sed -i "s|-O2 -g|-Ofast|g" Makefile

/bin/busybox time make -j2
