# 1 > extract gcc sauce.
tar xf /mss/work/sauces/gcc-10.2.0.tar.xz
cd gcc-10.2.0

# 2 > export vars.
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export   TMPDIR="/mss/work/thinltocache"

export       CC="clang"
export      CXX="clang++"

export   CFLAGS="-w -pipe -O3 -mtune=native -march=native"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# 3 > _FORTIFY_SOURCE needs an optimization level.
sed -i "/ac_cpp=/s/\$CPPFLAGS/\$CPPFLAGS -O3/"        gcc/configure
sed -i "/ac_cpp=/s/\$CPPFLAGS/\$CPPFLAGS -O3/"  libiberty/configure

# 4 > change the default libdir to /lib from /lib64.
sed -i '/m64=/s/lib64/lib/'                     gcc/config/i386/t-linux64
sed -i 's/lib64/lib/'                           gcc/config/i386/linux64.h

# 5 > action.
mkdir build
cd    build

export libat_cv_have_ifunc=no

../configure \
 --prefix=/usr                      \
 --libexecdir=/usr/libexec          \
 --mandir=/usr/share/man            \
 --infodir=/usr/share/info          \
\
 --host="${CHOST}"                  \
 --build="${CBUILD}"                \
 --target="${CBUILD}"               \
 --with-pkgversion="apathy"         \
 --with-build-config="bootstrap-O3" \
\
 --enable-checking="release"        \
 --enable-languages="c,c++,lto"     \
 --enable-cxx-flags="${CFLAGS}"     \
\
 --with-linker-hash-style="gnu"     \
 --with-system-zlib                 \
 --with-isl                         \
 --enable-__cxa_atexit              \
 --enable-bootstrap                 \
 --enable-linker-build-id           \
 --enable-lto                       \
 --enable-plugin                    \
 --enable-shared                    \
 --enable-threads="posix"           \
 --enable-tls                       \
\
 --without-included-gettext         \
 --disable-default-pie              \
 --disable-default-ssp              \
 --disable-fixed-point              \
 --disable-libmpx                   \
 --disable-libmudflap               \
 --disable-libsanitizer             \
 --disable-libstdcxx-pch            \
 --disable-multilib                 \
 --disable-nls                      \
 --disable-symvers                  \
 --disable-werror

# 6
/bin/busybox time make -j4
