# > 1
cdt1
penis="/mss/work/table/KEK"
export   CFLAGS="${CFLAGS}   -fPIC -I$penis/include -L$penis/lib"
export CXXFLAGS="${CXXFLAGS} -fPIC -I$penis/include -L$penis/lib"
export  LDFLAGS="${LDFLAGS}  -fPIC -I$penis/include -L$penis/lib"

export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:$penis/lib/pkgconfig"
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:$penis/lib"
export LIBRARY_PATH="${LD_LIBRARY_PATH}"

# > 2
tar xf /mss/work/sauces/musl-obstack-1.2.2.tar.gz
cd musl-obstack-1.2.2/

./bootstrap.sh

./configure \
 --build=$CBUILD   \
 --host=$CHOST     \
 --prefix="$penis" \
 --enable-static   \
 --disable-shared

make
make install
cd .. && rm -rf musl-obstack-1.2.2/

# > 3
tar xf /mss/work/sauces/libucontext-1.1.tar.xz
cd libucontext-1.1/

make ARCH=x86_64
make ARCH=x86_64 check
make ARCH=x86_64 DESTDIR="$penis" install

rm -rfv \
 "$penis"/lib/libucontext.so   \
 "$penis"/lib/libucontext.so.1 \
 "$penis"/lib/libucontext_posix.so.1

cd .. && rm -rf libucontext-1.1/

# > 4
tar xf /mss/work/sauces/gcompat-1.0.0.tar.xz
cd     gcompat-1.0.0/

mymake(){
 make \
  LINKER_PATH="/lib/ld-musl-x86_64.so.1"       \
  LOADER_NAME="ld-linux-x86-64.so.2"           \
  LOADER_PATH=/lib64/"ld-linux-x86-64.so.2"    \
  WITH_LIBUCONTEXT=1 WITH_OBSTACK=musl-obstack \
  ${@}
}

mymake
mymake DESTDIR=$PWD/KEK install

doas -s
mymake install
