# > 1
tar xf /mss/work/sauces/gcompat-0.9.0.tar.xz
cd     gcompat-0.9.0

# > 2
make \
 LINKER_PATH="/lib/ld-musl-x86_64.so.1"       \
 LOADER_NAME="ld-linux-x86-64.so.2"           \
 LOADER_PATH=/lib64/"ld-linux-x86-64.so.2"    \
 WITH_LIBUCONTEXT=1 WITH_OBSTACK=musl-obstack \
\
 -j2

make \
 LINKER_PATH="/lib/ld-musl-x86_64.so.1"       \
 LOADER_NAME="ld-linux-x86-64.so.2"           \
 LOADER_PATH=/lib64/"ld-linux-x86-64.so.2"    \
 WITH_LIBUCONTEXT=1 WITH_OBSTACK=musl-obstack \
\
 -j2 DESTDIR=$PWD/KEK install
 
doas -- make \
 LINKER_PATH="/lib/ld-musl-x86_64.so.1"       \
 LOADER_NAME="ld-linux-x86-64.so.2"           \
 LOADER_PATH=/lib64/"ld-linux-x86-64.so.2"    \
 WITH_LIBUCONTEXT=1 WITH_OBSTACK=musl-obstack \
\
 -j2 install
