# 1
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -flto=2 -fuse-linker-plugin -fno-fat-lto-objects"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# 2
./configure \
 --prefix=/usr          \
 --enable-shared        \
 --disable-static       \
 --with-gcc-arch=native \
 --with-int=gmp         \
 --with-gmp=system

# 3
make
make check -j1

doas -- make install
