# 1
tar -xf ../clang-9.0.1.src.tar.xz        -C tools
tar -xf ../compiler-rt-9.0.1.src.tar.xz  -C projects

# 2
mv tools/clang-9.0.1.src           tools/clang
mv projects/compiler-rt-9.0.1.src  projects/compiler-rt

# 3
_llvmpdir=/mss/repo/pkg-management/patches/llvm-9.0.1
patch -p1 < "$_llvmpdir"/0001-disable-dynamic-lib-tests.patch
patch -p1 < "$_llvmpdir"/0002-fix-llvmconfig-cmake-install-prefix.patch
patch -p1 < "$_llvmpdir"/0003-fix-memory-mf_exec-on-aarch64.patch
patch -p1 < "$_llvmpdir"/0004-python3-test.patch

# 4
cd tools/clang

_clangpdir=/mss/repo/pkg-management/patches/clang-9.0.1
patch -p1 < "$_clangpdir"/0001-add-musl-triples.patch
patch -p1 < "$_clangpdir"/0002-fix-python-shebangs.patch

# 5
cd ..
mkdir build
cd    build

# 6
cmake \
 -DLLVM_HOST_TRIPLE="$CHOST"      \
 -DCMAKE_INSTALL_PREFIX=/opt/llvm \
 -DCMAKE_BUILD_TYPE=MinSizeRel    \
 -DLLVM_TARGETS_TO_BUILD="host"   \
\
 -DLLVM_DEFAULT_TARGET_TRIPLE="$CBUILD"        \
 -DCMAKE_C_FLAGS_MINSIZEREL_INIT="$CFLAGS"     \
 -DCMAKE_CXX_FLAGS_MINSIZEREL_INIT="$CXXFLAGS" \
\
 -DLLVM_ENABLE_LIBCXX=OFF            \
 -DLLVM_BUILD_LLVM_DYLIB=ON          \
 -DLLVM_LINK_LLVM_DYLIB=ON           \
 -DLLVM_ENABLE_FFI=ON                \
 -DLLVM_ENABLE_RTTI=ON               \
 -DLLVM_BINUTILS_INCDIR=/usr/include \
\
 -DLLVM_ENABLE_ASSERTIONS=OFF \
 -DLLVM_ENABLE_CXX1Y=ON       \
 -DLLVM_ENABLE_PIC=ON         \
 -DLLVM_ENABLE_RTTI=ON        \
 -DLLVM_ENABLE_TERMINFO=ON    \
 -DLLVM_ENABLE_ZLIB=ON        \
 -DLLVM_ENABLE_EH=ON          \
 -DLLVM_APPEND_VC_REV=OFF     \
\
 -DLLVM_BUILD_TESTS=OFF          \
 -DLLVM_BUILD_EXAMPLES=OFF       \
 -DLLVM_INCLUDE_EXAMPLES=OFF     \
 -DLLVM_BUILD_DOCS=OFF           \
 -DLLVM_ENABLE_SPHINX=OFF        \
 -DLLVM_ENABLE_DOXYGEN=OFF       \
\
 -DCOMPILER_RT_INCLUDE_TESTS=OFF    \
 -DCOMPILER_RT_BUILD_SANITIZERS=OFF \
 -DCOMPILER_RT_BUILD_XRAY=OFF       \
\
 -DCMAKE_VERBOSE_MAKEFILE=OFF \
 -DCLANG_VENDOR=apathy        \
 -DCLANG_BUILD_EXAMPLES=OFF   \
 -DCLANG_INCLUDE_DOCS=OFF     \
 -DCLANG_INCLUDE_TESTS=OFF    \
 -DCLANG_PLUGIN_SUPPORT=ON    \
 -DLIBCLANG_BUILD_STATIC=OFF  \
\
-Wno-dev -G Ninja ..

# 7
/bin/busybox time     \
 nice --adjustment=10 \
 samu -j2             \
 2>&1 | tee /mss/work/logs/$(date "+%Y%m%d_%H%M%S")-llvm+clang+compiler-rt-9.0.1.log
