# 1
tar xf /mss/work/sauces/clang-10.0.0.src.tar.xz  -C tools
mv -v tools/clang-10.0.0.src tools/clang

# 2
mkdir -v build
cd       build

# 3
cmake \
 -DLLVM_HOST_TRIPLE="$CHOST"                   \
 -DCMAKE_INSTALL_PREFIX=/opt/llvm-10.0.0       \
 -DCMAKE_BUILD_TYPE=MinSizeRel                 \
 -DLLVM_TARGETS_TO_BUILD="host"                \
\
 -DLLVM_DEFAULT_TARGET_TRIPLE="$CBUILD"        \
 -DCMAKE_C_FLAGS_MINSIZEREL_INIT="$CFLAGS"     \
 -DCMAKE_CXX_FLAGS_MINSIZEREL_INIT="$CXXFLAGS" \
\
 -DLLVM_BUILD_LLVM_DYLIB=ON  \
 -DLLVM_LINK_LLVM_DYLIB=ON   \
 -DLLVM_ENABLE_RTTI=ON       \
 -DLLVM_ENABLE_EH=ON         \
\
 -DLIBCLANG_BUILD_STATIC=ON  \
 -DCLANG_VENDOR=apathy       \
\
 -DLLVM_BUILD_EXAMPLES=OFF   \
 -DLLVM_BUILD_DOCS=OFF       \
 -DLLVM_BUILD_TESTS=OFF      \
 -DLLVM_INCLUDE_EXAMPLES=OFF \
 -DLLVM_ENABLE_SPHINX=OFF    \
 -DLLVM_ENABLE_DOXYGEN=OFF   \
 -DCLANG_BUILD_EXAMPLES=OFF  \
 -DCLANG_INCLUDE_DOCS=OFF    \
 -DCLANG_INCLUDE_TESTS=OFF   \
\
 -Wno-dev -G Ninja ..

# 4
/bin/busybox time     \
 nice --adjustment=10 \
 samu -j2             \
 2>&1 | tee /mss/work/logs/$(date "+%Y%m%d_%H%M%S")-llvm+clang-10.0.0.log
