# 1
tar xf /mss/work/sauces/llvm-10.0.0.src.tar.xz
cd llvm-10.0.0.src

tar xf /mss/work/sauces/clang-10.0.0.src.tar.xz -C tools
mv -v tools/clang-10.0.0.src/ tools/clang

# 2
mkdir -v build
cd       build

# 3
cmake \
 -DCMAKE_INSTALL_PREFIX=/opt/llvm-10.0.0    \
 -DCMAKE_BUILD_TYPE=Release                 \
 -DCMAKE_C_FLAGS_RELEASE_INIT="$CFLAGS"     \
 -DCMAKE_CXX_FLAGS_RELEASE_INIT="$CXXFLAGS" \
\
 -DLLVM_HOST_TRIPLE="$CHOST"            \
 -DLLVM_TARGETS_TO_BUILD="host"         \
 -DLLVM_DEFAULT_TARGET_TRIPLE="$CBUILD" \
\
 -DLLVM_BUILD_LLVM_DYLIB=ON  \
 -DLLVM_LINK_LLVM_DYLIB=ON   \
 -DLLVM_ENABLE_RTTI=ON       \
 -DLLVM_ENABLE_FFI=ON        \
 -DLLVM_ENABLE_EH=ON         \
\
 -DCLANG_LINK_CLANG_DYLIB=ON \
 -DCLANG_VENDOR=apathy       \
\
 -DLLVM_BUILD_EXAMPLES=OFF   \
 -DLLVM_BUILD_DOCS=OFF       \
 -DLLVM_BUILD_TESTS=OFF      \
 -DLLVM_INCLUDE_EXAMPLES=OFF \
 -DLLVM_ENABLE_SPHINX=OFF    \
 -DLLVM_ENABLE_DOXYGEN=OFF   \
 -DCLANG_BUILD_EXAMPLES=OFF  \
 -DCLANG_INCLUDE_DOCS=OFF    \
 -DCLANG_INCLUDE_TESTS=OFF   \
\
 -Wno-dev -G Ninja ..

# 4
/bin/busybox time \
 samu -j2         \
 2>&1 | tee /mss/work/logs/`dn`-llvm+clang-10.0.0.log

# 6
instdir="$PWD/KEK"
DESTDIR="${instdir}" samu install

rm -rfv \
 "${instdir}"/opt/llvm-10.0.0/share/man \
 "${instdir}"/opt/llvm-10.0.0/share/clang/bash-autocomplete.sh

find "${instdir}"/opt/llvm-10.0.0/bin \
 -type f              -exec strip --strip-all      -v {} ';'

find "${instdir}"/opt/llvm-10.0.0/lib \
 -type f -name \*.a   -exec strip --strip-debug    -v {} ';'

find "${instdir}"/opt/llvm-10.0.0/lib \
 -type f -name \*.so* -exec strip --strip-unneeded -v {} ';'

# 7
doas -- cp -r  "${instdir}"/opt/llvm-10.0.0 /opt/
doas -- chown -R root:root /opt/llvm-10.0.0
