# >> 1
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export       CC="x86_64-apathy-linux-musl-gcc"

         CFLAGS="-w -pipe -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fPIC"
export   CFLAGS="${CFLAGS} -fgraphite-identity -floop-nest-optimize -ftree-vectorize"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# >> 2
tar xf /mss/work/sauces/musl-1.2.1.tar.gz
cd     musl-1.2.1/

pdir="/mss/repo/pkg-management/patches/musl-1.2.1"
patch -p1 < "${pdir}"/0001-handle-aux-at_base.patch
patch -p1 < "${pdir}"/0002-wcsnrtombs_cve_2020_28928.patch

# >> 3
./configure \
  CFLAGS="${CFLAGS}"  \
 LDFLAGS="${LDFLAGS}" \
 --prefix=/usr        \
 --disable-gcc-wrapper

make
doas -- make install

# >> 4
ln -sv /lib/ld-musl-x86_64.so.1 /bin/ldd

# >> 5
cat > /etc/ld-musl-x86_64.path << "EOF"
/lib
/usr/lib
EOF

# >> 6
${CC} "${pdir}"/utils/getconf.c -o getconf ${LDFLAGS} -fPIE
${CC} "${pdir}"/utils/getent.c  -o getent  ${LDFLAGS} -fPIE
${CC} "${pdir}"/utils/iconv.c   -o iconv   ${LDFLAGS} -fPIE

strip --strip-all -v getconf getent iconv
chown root:root      getconf getent iconv
cp -v                getconf getent iconv /usr/bin/

# >> 7
cp -v "${pdir}"/bsd-compat-headers/cdefs.h /usr/include/sys
cp -v "${pdir}"/bsd-compat-headers/queue.h /usr/include/sys
cp -v "${pdir}"/bsd-compat-headers/tree.h  /usr/include/sys

# >> 8
ln -s true /usr/bin/ldconfig
