# >> 1
export  CFLAGS="-w -march=native -mtune=native -O3 -fstack-protector-strong -fPIC"
export LDFLAGS="${CFLAGS} -Wl,-O1 -Wl,--as-needed -Wl,--gc-sections"

# >> 2
tar xf /mss/work/sauces/musl-1.2.1.tar.gz
cd     musl-1.2.1

pdir="/mss/repo/pkg-management/patches/musl-1.2.1"
patch -p1 < "${pdir}"/0001-handle-aux-at_base.patch

# >> 3
./configure \
  CFLAGS="${CFLAGS}"  \
 LDFLAGS="${LDFLAGS}" \
 --prefix=/usr        \
 --disable-gcc-wrapper

make
doas -- make install

# >> 4
ln -sv /lib/ld-musl-x86_64.so.1 /bin/ldd

# >> 5
cat > /etc/ld-musl-x86_64.path << "EOF"
/lib
/usr/lib
EOF

# >> 6
${CC} "${pdir}"/utils/getconf.c -o getconf ${CFLAGS} -fPIE ${LDFLAGS}
${CC} "${pdir}"/utils/getent.c  -o getent  ${CFLAGS} -fPIE ${LDFLAGS}
${CC} "${pdir}"/utils/iconv.c   -o iconv   ${CFLAGS} -fPIE ${LDFLAGS}

doas -- strip --strip-all -v getconf getent iconv
doas -- chown root:root      getconf getent iconv
doas -- cp -v                getconf getent iconv /usr/bin/

# >> 7
cp -v "${pdir}"/bsd-compat-headers/cdefs.h /usr/include/sys
cp -v "${pdir}"/bsd-compat-headers/queue.h /usr/include/sys
cp -v "${pdir}"/bsd-compat-headers/tree.h  /usr/include/sys

# >> 8
ln -s true /usr/bin/ldconfig
