# >> 1 
pdir="/mss/repo/pkg-management/patches/musl-1.2.0"
patch -p1 < "${pdir}"/0001-reorder-thread-list-unlink-in-pthread_exit-after-all.patch
patch -p1 < "${pdir}"/0002-don-t-use-libc.threads_minus_1-as-relaxed-atomic-for.patch
patch -p1 < "${pdir}"/0003-cut-down-size-of-some-libc-struct-members.patch
patch -p1 < "${pdir}"/0004-restore-lock-skipping-for-processes-that-return-to-s.patch

# >> 2
./configure    \
 CFLAGS=-fPIC  \
 --prefix=/usr \
 --disable-gcc-wrapper

make
doas -- make install

# >> 3
ln -sv /lib/ld-musl-x86_64.so.1 /bin/ldd

# >> 4
cat > /etc/ld-musl-x86_64.path << "EOF"
/lib
/usr/lib
EOF

# >> 5
cc -fPIE "${pdir}"/utils/getconf.c -o getconf
cc -fPIE "${pdir}"/utils/getent.c  -o getent
cc -fPIE "${pdir}"/utils/iconv.c   -o iconv

doas -- strip --strip-all -v getconf getent iconv
doas -- chown root:root      getconf getent iconv
doas -- cp -v                getconf getent iconv /usr/bin/

# >> 6
cp -v "${pdir}"/bsd-compat-headers/cdefs.h /usr/include/sys
cp -v "${pdir}"/bsd-compat-headers/queue.h /usr/include/sys
cp -v "${pdir}"/bsd-compat-headers/tree.h  /usr/include/sys

# >> 7
ln -s true /usr/bin/ldconfig
