# > 1
sed -i 's|/ (8|// (8|' tools/gyp/pylib/gyp/generator/ninja.py

# > 2
./configure \
 --shared-zlib             \
 --without-intl            \
 --without-npm             \
 --without-etw             \
 --without-dtrace          \
 --without-report          \
 --without-node-snapshot   \
 --without-node-code-cache \
\
 --ninja

time ninja -C out/Release

# > 3
tools/install.py install $PWD/KEK /usr

mv     -v  KEK/usr/bin/node ..; cd ..
mkdir  -pv node.js-14.5.0/bin
mv     -v  node node.js-14.5.0/bin

# > 4
pkgup node.js-14.5.0/ node.js-14.5.0
