# > 1
sed -i 's|(3, 8)|(3, 9), (3, 8)|g' configure

# > 2
./configure \
 --prefix=/opt/node.js-15.8.0 \
 --disable-lto                \
 --ninja                      \
 --openssl-use-def-ca-store   \ 
 --shared-openssl             \
 --shared-zlib                \
 --without-dtrace             \
 --without-npm                \
 --without-etw                \
 --without-intl               \
 --without-report             \
 --without-node-snapshot      \
 --without-node-code-cache

time ninja -C out/Release

# > 3
tools/install.py install $PWD/KEK /usr
