# > 1
t61cf="-m80387 -mcx16 -mfancy-math-387 -mfxsr -mhard-float -mieee-fp -mlong-double-80"
t61cf="${t61cf} -mmmx -mred-zone -msahf -msse -msse2 -msse3 -msse4.1 -mssse3"
t61cf="${t61cf} -mtls-direct-seg-refs -march=core2 -mtune=core2"

export        CC="/opt/llvm-11.1.0/bin/clang"
export       CXX="/opt/llvm-11.1.0/bin/clang++"
export        LD="/opt/llvm-11.1.0/bin/ld.lld"
export        AR="/opt/llvm-11.1.0/bin/llvm-ar"
export        AS="/opt/llvm-11.1.0/bin/llvm-as"
export        NM="/opt/llvm-11.1.0/bin/llvm-nm"
export     STRIP="/opt/llvm-11.1.0/bin/llvm-strip"
export    RANLIB="/opt/llvm-11.1.0/bin/llvm-ranlib"
export   OBJCOPY="/opt/llvm-11.1.0/bin/llvm-objcopy"
export   OBJDUMP="/opt/llvm-11.1.0/bin/llvm-objdump"
export   OBJSIZE="/opt/llvm-11.1.0/bin/llvm-size"
export   READELF="/opt/llvm-11.1.0/bin/llvm-readelf"
export ADDR2LINE="/opt/llvm-11.1.0/bin/llvm-addr2line"

          CFLAGS="-w -pipe -O2 ${t61cf}"
export    CFLAGS="${CFLAGS} -fuse-ld=lld -stdlib=libc++ -rtlib=compiler-rt -unwindlib=libunwind"
export  CXXFLAGS="${CFLAGS}"
export   LDFLAGS="${CFLAGS} -Wl,--as-needed,--sort-common,-z,relro,-z,now,--gc-sections,-O2,--icf=all"

# > 2
tar xf /mnt/mss/stuff/techy-bits/work/sauces/node-v15.9.0.tar.xz
cd node-v15.9.0/

# > 3
./configure \
 --ninja                    \
 --openssl-use-def-ca-store \ 
 --shared-openssl           \
 --shared-zlib              \
 --without-dtrace           \
 --without-npm              \
 --without-etw              \
 --without-intl             \
 --without-report           \
 --without-node-snapshot    \
 --without-node-code-cache

time ninja -j5 -C out/Release

# > 4
tools/install.py install $PWD/KEK /opt/node.js-15.9.0

rm -rfv \
 $PWD/KEK/opt/node.js-15.9.0/share \
 $PWD/KEK/opt/node.js-15.9.0/include

strip --strip-all -v $PWD/KEK/opt/node.js-15.9.0/bin/node
