# > 1
export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      LD="ld.bfd"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      AS="as"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export   STRIP="strip"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"
export OBJCOPY="objcopy"
export OBJDUMP="objdump"
export OBJSIZE="size"
export READELF="readelf"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -flto=2 -fuse-linker-plugin -fno-fat-lto-objects"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# > 2
sed -i 's|(3, 8)|(3, 9), (3, 8)|g' configure

# > 3
./configure \
 --shared-zlib             \
 --enable-lto              \
 --without-intl            \
 --without-npm             \
 --without-etw             \
 --without-dtrace          \
 --without-report          \
 --without-node-snapshot   \
 --without-node-code-cache \
\
 --ninja

time ninja -C out/Release

# > 4
tools/install.py install $PWD/KEK /usr

mv     -v  KEK/usr/bin/node ..; cd ..
mkdir  -pv node.js-14.14.0/bin
mv     -v  node node.js-14.14.0/bin

# > 5
pkgup node.js-14.14.0/ node.js-14.14.0
