# > 1
export BUILD_ZLIB=0
export BUILD_BZIP2=0

penisflags="-pthread -DNO_POSIX_2008_LOCALE -D_GNU_SOURCE"
export   CFLAGS="${CFLAGS}   ${penisflags}"
export CXXFLAGS="${CXXFLAGS} ${penisflags}"
export  LDFLAGS="${LDFLAGS}  ${penisflags}"

# > 2
./Configure \
 -des                             \
 -Dcf_by='apathy musl 1.2'        \
\
 -Dprefix=/usr                    \
 -Dvendorprefix=/usr              \
 -Dman1dir=/usr/share/man/man1    \
 -Dman3dir=/usr/share/man/man3    \
 -Dusevendorprefix                \
\
 -Dcc="${CC}"                     \
 -Dar="${AR}"                     \
 -Dnm="${NM}"                     \
 -Dranlib="${RANLIB}"             \
\
 -Dccflags="${CFLAGS}"            \
 -Dlddlflags="-shared ${LDFLAGS}" \
 -Dldflags="${LDFLAGS}"           \
 -Doptimize="${CFLAGS}"           \
\
 -Duseshrplib                     \
 -Dusesoname                      \
 -Dusethreads                     \
 -Duselargefiles                  \
 -Uusenm                          \
 -Dinc_version_list=none          \
 -Dd_static_inline                \
 -Dperl_static_inline="static __inline__"

make

# > 3
instdir="${PWD}/KEK"
make DESTDIR="${instdir}" install

find "${instdir}/usr/lib/perl5" -name \*.pod       -exec rm -rfv {} +
find "${instdir}/usr/lib/perl5" -name .packlist    -exec rm -rfv {} +
find "${instdir}/usr/lib/perl5" -name README\*     -exec rm -rfv {} +
find "${instdir}/usr/lib/perl5" -name TODO\*       -exec rm -rfv {} +
find "${instdir}/usr/lib/perl5" -name Change\*     -exec rm -rfv {} +
find "${instdir}/usr/lib/perl5" -name \*.bs        -exec rm -rfv {} +
find "${instdir}/usr/lib/perl5" -name \*.0 -type f -exec rm -rfv {} +

# > 4
doas -s
make install

find "/usr/lib/perl5" -name \*.pod       -exec rm -rfv {} +
find "/usr/lib/perl5" -name .packlist    -exec rm -rfv {} +
find "/usr/lib/perl5" -name README\*     -exec rm -rfv {} +
find "/usr/lib/perl5" -name TODO\*       -exec rm -rfv {} +
find "/usr/lib/perl5" -name Change\*     -exec rm -rfv {} +
find "/usr/lib/perl5" -name \*.bs        -exec rm -rfv {} +
find "/usr/lib/perl5" -name \*.0 -type f -exec rm -rfv {} +

find "/usr/lib/perl5" -type f -exec chmod 644 {} \;
