# > 1
patch -p1 < musl-find_library.patch
patch -p1 < unchecked-ioctl.patch

# > 2
rm -r Modules/expat Modules/_ctypes/libffi* Modules/zlib

# > 3
export OPT="$CFLAGS -DTHREAD_STACK_SIZE=0x100000"
./configure \
 --build=$CBUILD        \
 --host=$CHOST          \
 --prefix=/usr          \
 --disable-ipv6         \
 --enable-optimizations \
 --enable-shared        \
 --enable-unicode=ucs4  \
 --with-system-expat    \
 --with-system-ffi      \
 --with-system-zlib     \
 --with-threads

# > 4
doas -- make -j1 install

# > 5
cd /usr/lib/python2
rm -rf test ./*/test ./*/tests
rm -rf lib2to3 pydoc* idlelib turtle* ensurepip lib-tk config

cd /usr/bin
rm -f 2to3* pydoc* idle* python
