# > 1
rm -rv Modules/expat
rm -rv Modules/_ctypes/{darwin,libffi}*

# > 2
cat >> Modules/Setup <<EOF
*disabled*
_uuid nis ossaudiodev
EOF

# > 3
export CFLAGS="$CFLAGS -fno-semantic-interposition"
export LDFLAGS="$LDFLAGS -fno-semantic-interposition"

./configure \
 --build=$CBUILD      \
 --host=$CHOST        \
 --prefix=/usr        \
 --enable-shared      \
 --disable-ipv6       \
 --with-threads       \
 --with-system-ffi    \
 --with-system-expat  \
 --with-ensurepip=yes \
 --without-doc-strings

# > 4
make EXTRA_CFLAGS="$CFLAGS -DTHREAD_STACK_SIZE=0x100000"

ln -s python3 /usr/bin/python
ln -s pip3    /usr/bin/pip

# > 5
doas -- make -j1 install

# > 6
cd /usr/lib/python3.8
rm -rf test ./*/test ./*/tests
rm -rf lib2to3 pydoc* idlelib turtle* config-* ensurepip

cd /usr/bin
rm -f 2to3* pydoc* idle*
