# 1
rm    tool/config.sub tool/config.guess
touch tool/config.sub tool/config.guess
configtomusl

autoconf

# 2
pdir="/mss/repo/pkg-management/patches/ruby-2.7.1"
patch -p1 < "${pdir}"/fix-get_main_stack.patch
patch -p1 < "${pdir}"/rubygems-avoid-platform-specific-gems.patch

# 3
export   CFLAGS="${CFLAGS}   -fno-omit-frame-pointer -fno-strict-aliasing"
export CXXFLAGS="${CXXFLAGS} -fno-omit-frame-pointer -fno-strict-aliasing"
export  LDFLAGS="${LDFLAGS}  -fno-omit-frame-pointer -fno-strict-aliasing"

# 4
export ac_cv_func_isnan=yes
export ac_cv_func_isinf=yes

./configure \
 --build=$CBUILD          \
 --host=$CHOST            \
 --prefix=/opt/ruby-2.7.1 \
\
 --disable-rpath        \
 --disable-rubygems     \
 --disable-install-doc  \
 --disable-install-rdoc \
 --enable-shared        \
 --enable-pthread

time make -j2

# 5
instdir=$PWD/KEK
make DESTDIR="${instdir}" install

rm -rfv "${instdir}"/opt/ruby-2.7.1/share

# 6
find "${instdir}"/opt/ruby-2.7.1/bin/ \
 -type f -exec strip --strip-all      -v {} ';'

find "${instdir}"/opt/ruby-2.7.1/lib/ \
 -type f -exec strip --strip-unneeded -v {} ';'
