pdir="/mss/repo/testing/patches/ruby-2.6.5"
patch -p1 < "${pdir}"/avoid-rdoc-hook-when-its-failed-to-load-rdoc-library.patch
patch -p1 < "${pdir}"/fix-get_main_stack.patch
patch -p1 < "${pdir}"/openssl-config-support-include-directive.patch
patch -p1 < "${pdir}"/rubygems-avoid-platform-specific-gems.patch
patch -p1 < "${pdir}"/test_insns-lower-recursion-depth.patch

# ---

rm -rfv tool/config.sub tool/config.guess
touch   tool/config.sub tool/config.guess

cp -v /mss/repo/pkg-management/patches/libssh2-1.9.0/config.guess-musl \
 ./tool/config.guess
cp -v /mss/repo/pkg-management/patches/libssh2-1.9.0/config.guess-musl \
 ./ext/fiddle/libffi-3.2.1/config.guess

cp -v /mss/repo/pkg-management/patches/libssh2-1.9.0/config.sub-musl \
 ./tool/config.sub
cp -v /mss/repo/pkg-management/patches/libssh2-1.9.0/config.sub-musl \
 ./ext/fiddle/libffi-3.2.1/config.sub

autoconf

# ----

export CFLAGS="$CFLAGS -fno-omit-frame-pointer -fno-strict-aliasing"
export CPPFLAGS=" -fno-omit-frame-pointer -fno-strict-aliasing"
export INSTALL=install
export ac_cv_func_isnan=yes
export ac_cv_func_isinf=yes

./configure \
 --build=$CBUILD           \
 --host=$CHOST             \
 --prefix=/usr             \
 --sysconfdir=/etc         \
 --enable-pthread          \
 --disable-rpath           \
 --enable-shared           \
 --disable-install-doc     \
 --disable-install-rdoc    \
 --disable-install-capi

# ---

/bin/busybox time \
 make  -j2        \
 2>&1 | tee /mss/work/logs/$(date "+%Y%m%d_%H%M%S")-ruby-2.6.5.log
