# 1 >> extract the tarball
tar xf /mss/work/sauces/rustc-1.44.1-src.tar.xz
cd rustc-1.44.1-src/

# 2 >> patch for musl and libressl 3.2, also add apathy triples.
pdir="/mss/repo/pkg-management/patches/rustc-1.44.1"
patch -p1 < "${pdir}"/libressl-3.2.patch
patch -p1 < "${pdir}"/musl.patch
patch -p1 < "${pdir}"/apathy-target.patch

# 3 >> remove checksums
for vendor in libc openssl-sys; do
 sed -i 's/\("files":{\)[^}]*/\1/' "vendor/$vendor/.cargo-checksum.json"
done

# 4 >> gen the config
cat > config.toml <<EOF
[llvm]
link-shared = true

[build]
build            = 'x86_64-unknown-linux-musl'
host             = ['x86_64-apathy-linux-musl']
target           = ['x86_64-apathy-linux-musl']

cargo            = '/opt/rustc-1.44.1/bin/cargo'
rustc            = '/opt/rustc-1.44.1/bin/rustc'
rustfmt          = '/opt/rustc-1.44.1/bin/rustfmt'
python           = 'python3'

extended         = true
tools            = ['cargo', 'clippy', 'rustfmt']

locked-deps      = true
vendor           = true
docs             = false
compiler-docs    = false
submodules       = false
sanitizers       = false
profiler         = false
full-bootstrap   = false

[install]
prefix           = '/opt/rustc-1.41.1'

[rust]
channel          = 'stable'
rpath            = false
codegen-units    = 1
debuginfo-level  = 0
debug            = false
backtrace        = false
jemalloc         = false
debug-assertions = false
codegen-tests    = false

[target.x86_64-unknown-linux-musl]
llvm-config      = '/opt/llvm-10.0.0/bin/llvm-config'
crt-static       = false

[target.x86_64-apathy-linux-musl]
llvm-config      = '/opt/llvm-10.0.0/bin/llvm-config'
crt-static       = false
EOF

# 5 >> build
export PKG_CONFIG_ALLOW_CROSS=1
/bin/busybox time python3 ./x.py build -j 2

# 6 >> install
# that x.py shit fails to do a destdir install if prefix is missing in the
# real system. state of the art build system everybody.
doas -- mkdir -pv "/opt/rustc-1.44.1"

instdir="${PWD}"/KEK
DESTDIR="${instdir}" python3 ./x.py install

# 7 >> clean up
rm -rfv \
 "${instdir}"/etc                                                             \
 "${instdir}"/opt/rustc-1.44.1/share                                          \ 
 "${instdir}"/opt/rustc-1.44.1/lib/rustlib/src                                \ 
 "${instdir}"/opt/rustc-1.44.1/lib/rustlib/x86_64-unknown-linux-musl/analysis

cd "${instdir}"/opt/rustc-1.44.1/lib/rustlib
rm -rfv \
 components   \
 install.log  \
 manifest-*   \
 uninstall.sh \
 rust-installer-version

# 8 >> strip
cd "${instdir}"/opt/rustc-1.44.1/bin
strip --strip-all -v *

cd "${instdir}"/opt/rustc-1.44.1/lib
find . -type f -name \*.so   -exec strip --strip-unneeded -v {} ';'
find . -type f -name \*.rlib -exec strip --strip-debug    -v {} ';'
