# 1 >> extarct the tarball
tar xf /mss/work/sauces/rustc-1.42.0-src.tar.xz
cd rustc-1.42.0-src/

# 2
cache_dir=build/cache/2020-02-27
mkdir -pv "$cache_dir"

cp -v \
 /mss/work/sauces/cargo-0.42.0-x86_64-unknown-linux-musl.tar.xz    \
 /mss/work/sauces/rust-std-1.41.1-x86_64-unknown-linux-musl.tar.xz \
 /mss/work/sauces/rustc-1.41.1-x86_64-unknown-linux-musl.tar.xz    \
"$cache_dir"

# 4 >> patch for musl
patch -p1 < '/mss/repo/pkg-management/patches/rustc-1.42.0/musl.patch'

# 5 >> set this shit so that it can find libLLVM.
LIBRARY_PATH=$(llvm-config --libdir)
export LIBRARY_PATH

# 6 >> remove checksums
for vendor in libc openssl-sys; do
 sed -i 's/\("files":{\)[^}]*/\1/' "vendor/$vendor/.cargo-checksum.json"
done

# 7 >> echo the config
cat > config.toml <<EOF
[llvm]
link-shared = true

[build]
build  = "x86_64-unknown-linux-musl"
host   = [ "x86_64-unknown-linux-musl" ]
target = [ "x86_64-unknown-linux-musl" ]

docs           = false
compiler-docs  = false
extended       = true
submodules     = false
python         = "python3"
locked-deps    = true
vendor         = true
sanitizers     = false
profiler       = false
full-bootstrap = false

[install]
prefix = "/opt/rustc-1.42.0"

[rust]
channel          = "stable"
rpath            = false
codegen-units    = 1
debuginfo-level  = 0
debug            = false
backtrace        = false
jemalloc         = false
debug-assertions = false
codegen-tests    = false

[target.x86_64-unknown-linux-musl]
llvm-config = "/opt/llvm-10.0.0/bin/llvm-config"
crt-static  = false
EOF

# 8 >> build
/bin/busybox time          \
 nice --adjustment=10      \
 python3 ./x.py build -j 2

# 9 >> install
DESTDIR="$PWD/KEK" python3 ./x.py install
