# 1 >> extract the tarball
tar xf /mss/work/sauces/rustc-1.44.1-src.tar.xz
cd rustc-1.44.1-src/

# 2 >> patch for musl and libressl 3.2.
pdir="/mss/repo/pkg-management/patches/rustc-1.44.1"
patch -p1 < "${pdir}"/libressl-3.2.patch
patch -p1 < "${pdir}"/musl.patch

# 3 >> stage 0 bootstrap
cache_dir=build/cache/2020-05-07
mkdir -pv "$cache_dir"

cp -v \
 /mss/work/sauces/cargo-0.44.0-x86_64-unknown-linux-musl.tar.xz    \
 /mss/work/sauces/rust-std-1.43.1-x86_64-unknown-linux-musl.tar.xz \
 /mss/work/sauces/rustc-1.43.1-x86_64-unknown-linux-musl.tar.xz    \
"$cache_dir"

# 4 >> remove checksums
for vendor in libc openssl-sys; do
 sed -i 's/\("files":{\)[^}]*/\1/' "vendor/$vendor/.cargo-checksum.json"
done

# 5 >> gen the config
cat > config.toml <<EOF
[llvm]
link-shared      = true

[build]
build            = "x86_64-unknown-linux-musl"
host             = [ "x86_64-unknown-linux-musl" ]
target           = [ "x86_64-unknown-linux-musl" ]

docs             = false
compiler-docs    = false
extended         = true
tools            = [ "rustfmt", "clippy", "cargo" ]
submodules       = false
python           = "python3"
locked-deps      = true
vendor           = true
sanitizers       = false
profiler         = false
full-bootstrap   = false

[install]
prefix           = "/opt/rustc-1.44.1"

[rust]
channel          = "stable"
rpath            = false
codegen-units    = 1
debuginfo-level  = 0
debug            = false
backtrace        = false
jemalloc         = false
debug-assertions = false
codegen-tests    = false

[target.x86_64-unknown-linux-musl]
llvm-config      = "/usr/bin/llvm-config"
crt-static       = false
EOF

# 7 >> build
/bin/busybox time python3 ./x.py build -j 2

# 8 >> install
# that x.py shit fails to do a destdir install if prefix is missing in the
# real system. state of the art build system everybody.
doas -- mkdir -pv "/opt/rustc-1.44.1"

instdir="${PWD}"/KEK
DESTDIR="${instdir}" python3 ./x.py install

# 9 >> clean up
rm -rfv \
 "${instdir}"/etc                                                             \
 "${instdir}"/opt/rustc-1.44.1/share                                          \ 
 "${instdir}"/opt/rustc-1.44.1/lib/rustlib/src                                \ 
 "${instdir}"/opt/rustc-1.44.1/lib/rustlib/x86_64-unknown-linux-musl/analysis

cd "${instdir}"/opt/rustc-1.44.1/lib/rustlib
rm -rfv \
 components   \
 install.log  \
 manifest-*   \
 uninstall.sh \
 rust-installer-version

# 10 >> strip
cd "${instdir}"/opt/rustc-1.44.1/bin
strip --strip-all -v *

cd "${instdir}"/opt/rustc-1.44.1/lib
find . -type f -name \*.so   -exec strip --strip-unneeded -v {} ';'
find . -type f -name \*.rlib -exec strip --strip-debug    -v {} ';'
