# 1 >> extract the tarball
tar xf /mss/work/sauces/rustc-1.48.0-src.tar.xz
cd rustc-1.48.0-src/

# 2 >> bake in the apathy triples, apply llvm fixes.
pdir="/mss/repo/pkg-management/patches/rustc-1.48.0"
patch -p1 < "${pdir}"/0002-apathy-target.patch
patch -p1 < "${pdir}"/0003-llvm-clang.patch

sed -i 's/crt_static_default = true/crt_static_default = false/' \
 ./compiler/rustc_target/src/spec/linux_musl_base.rs        \
 ./vendor/rustc-ap-rustc_target/src/spec/linux_musl_base.rs

# 3 >> remove checksums
for vendor in libc openssl-sys rustc-ap-rustc_target; do
 sed -i 's/\("files":{\)[^}]*/\1/' "vendor/$vendor/.cargo-checksum.json"
done

# 4 >> gen the config
export        CC="clang"
export       CXX="clang++"
export        LD="$CC"
export        AR="llvm-ar"
export        AS="llvm-as"
export        NM="llvm-nm"
export     STRIP="llvm-strip"
export    RANLIB="llvm-ranlib"
export   OBJCOPY="llvm-objcopy"
export   OBJDUMP="llvm-objdump"
export   OBJSIZE="llvm-size"
export   READELF="llvm-readelf"

export    CFLAGS="-w -O3 -mtune=native -march=native"
export  CXXFLAGS="${CFLAGS}"
export   LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2 -Wl,--icf=all"
export RUSTFLAGS="-Clinker=$CC -Ctarget-cpu=native"

cp -rv "${pdir}"/config-llvm.toml ./config.toml

# 5 >> build
export PKG_CONFIG_ALLOW_CROSS=1
/bin/busybox time python3 ./x.py build -j 4

# 6 >> install
# that x.py shit fails to do a destdir install if prefix is missing in the
# real system. state of the art build system everybody.
doas -- mkdir -pv "/opt/rustc-1.48.0"

instdir="${PWD}"/KEK
DESTDIR="${instdir}" python3 ./x.py install

# 7 >> clean up
rm -rfv \
 "${instdir}"/etc                                                 \
 "${instdir}"/opt/rustc-1.48.0/lib/rustlib/components             \
 "${instdir}"/opt/rustc-1.48.0/lib/rustlib/etc                    \
 "${instdir}"/opt/rustc-1.48.0/lib/rustlib/install.log            \
 "${instdir}"/opt/rustc-1.48.0/lib/rustlib/manifest-*             \
 "${instdir}"/opt/rustc-1.48.0/lib/rustlib/rust-installer-version \
 "${instdir}"/opt/rustc-1.48.0/lib/rustlib/uninstall.sh           \
 "${instdir}"/opt/rustc-1.48.0/share

# 8 >> strip
strip --strip-all -v "${instdir}"/opt/rustc-1.48.0/bin/*

find "${instdir}"/opt/rustc-1.48.0/lib -name \*.so   \
 -exec strip --strip-unneeded -v {} ';'
find "${instdir}"/opt/rustc-1.48.0/lib -name \*.rlib \
 -exec strip --strip-debug    -v {} ';'

# 9 >> pkgup it
cd "${instdir}"/opt
pkgup rustc-1.48.0 \
 x220-rustc-1.48.0-x86_64-apathy-linux-musl-llvm11-nognu

mv x220-rustc-1.48.0-x86_64-apathy-linux-musl-llvm11-nognu.tar.zst \
 /mnt/mss/stuff/techy-bits/packaged-software/

doas -- rm -rfv          /opt/rustc-1.48.0
doas -- mv rustc-1.48.0  /opt/
doas -- chown root:root  /opt/rustc-1.48.0
