### directories
ac_add_options --prefix=/opt/waterfox-68.0a1
ac_add_options --libdir=/opt/waterfox-68.0a1/lib

### compiler stuff
ac_add_options --enable-optimize="-O3 -mtune=generic -w"
ac_add_options --target=x86_64-pc-linux-gnu
ac_add_options --enable-linker=gold

mk_add_options MOZ_MAKE_FLAGS=-j2
mk_add_options AUTOCLOBBER=1
mk_add_options MOZ_OBJDIR=objdir

### disable botnet
export MOZ_GECKO_PROFILER=
export MOZ_ENABLE_PROFILER_SPS=
export MOZ_PROFILING=
export MOZ_MAINTENANCE_SERVICE=
export MOZ_TELEMETRY_REPORTING=
ac_add_options --disable-necko-wifi

### branding
ac_add_options --enable-application=browser
ac_add_options --with-app-name=waterfox
ac_add_options --with-app-basename=Waterfox
ac_add_options --with-branding=browser/branding/alpha
ac_add_options --with-distribution-id=net.waterfox

### features
ac_add_options --disable-av1
ac_add_options --enable-hardening
ac_add_options --enable-alsa
ac_add_options --disable-dbus
ac_add_options --disable-pulseaudio
ac_add_options --disable-gconf

## build features
ac_add_options --disable-crashreporter
ac_add_options --disable-updater
ac_add_options --disable-tests
ac_add_options --disable-debug
ac_add_options --disable-dmd
ac_add_options --disable-profiling
ac_add_options --disable-signmar
ac_add_options --disable-verify-mar
