# >> 1 
a2      https://rtorrent.net/downloads/libtorrent-0.13.8.tar.gz
tar xf  libtorrent-0.13.8.tar.gz
cd      libtorrent-0.13.8

./configure \
 --build=$CBUILD              \
 --host=$CHOST                \
 --prefix=/mss/work/table/usr \
 --enable-static              \
 --disable-debug              \
 --disable-shared             \
 --disable-instrumentation

make
make install


# >> 2
export         LDFLAGS="-L/mss/work/table/usr/lib"
export        CPPFLAGS="-I/mss/work/table/usr/include"
export    LIBRARY_PATH="/mss/work/table/usr/lib"
export PKG_CONFIG_PATH="/mss/work/table/usr/lib/pkgconfig:$PKG_CONFIG_PATH"


# >> 3
a2      https://rtorrent.net/downloads/rtorrent-0.9.8.tar.gz
tar xf  rtorrent-0.9.8.tar.gz
cd      rtorrent-0.9.8

./configure \
 --build=$CBUILD      \
 --host=$CHOST        \
 --prefix=/usr        \
 --sysconfdir=/etc    \
 --localstatedir=/var \
 --disable-ipv6       \
 --disable-debug

make
make install
