# > 1
mkdir build
cd    build

# > 2
cmake -Wno-dev -GNinja         \
 -DCMAKE_INSTALL_PREFIX=/usr   \
\
 -DCMAKE_BUILD_TYPE=MinSizeRel \
 -DCMAKE_CXX_FLAGS="$CXXFLAGS" \
 -DCMAKE_C_FLAGS="$CFLAGS"     \
\
 -DENABLE_CLI=TRUE             \
 -DENABLE_UTILS=TRUE           \
\
 -DENABLE_GTK=FALSE            \
 -DENABLE_NLS=FALSE            \              
 -DENABLE_TESTS=FALSE          \
 -DWITH_SYSTEMD=FALSE          \
 -DINSTALL_LIB=FALSE           \
..
