git clone --depth=1 https://github.com/transmission/transmission

cd  transmission
git submodule update --init --recursive

mkdir build
cd    build

cmake -Wno-dev -G Ninja \
 -DCMAKE_INSTALL_PREFIX=/usr   \
\
 -DCMAKE_BUILD_TYPE=MinSizeRel \
 -DCMAKE_CXX_FLAGS="$CXXFLAGS" \
 -DCMAKE_C_FLAGS="$CFLAGS"     \
\
 -DENABLE_CLI=TRUE             \
 -DENABLE_UTILS=TRUE           \
\
 -DENABLE_GTK=FALSE            \
 -DWITH_SYSTEMD=FALSE          \
 -DINSTALL_LIB=FALSE ..

samu
DESTDIR=$PWD/KEK samu install
