# 1 >> extraction
tar xf /mss/work/sauces/firefox-84.0.2.source.tar.xz
cd     firefox-84.0.2/

# 2 >> build vars
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export                     CC="clang"
export                    CXX="clang++"
export                     AR="llvm-ar"
export                     AS="clang"
export                     NM="llvm-nm"
export                 RANLIB="llvm-ranlib"

                       CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -flto=thin -flto-jobs=5"
                       CFLAGS="${CFLAGS} -mllvm -polly -fno-semantic-interposition -ftree-vectorize -fno-math-errno -fno-trapping-math"
export                 CFLAGS="${CFLAGS} -fuse-ld=lld -stdlib=libc++ -rtlib=compiler-rt -unwindlib=libunwind"
export               CXXFLAGS="${CFLAGS}"
                      LDFLAGS="${CFLAGS} -Wl,-rpath=/usr/lib/firefox -Wl,--as-needed -Wl,--gc-sections -Wl,-O3"
export                LDFLAGS="${LDFLAGS} -Wl,-z,relro -Wl,-z,now -Wl,--lto-O3 -Wl,--icf=all -Wl,--thinlto-jobs=5"

export              RUSTFLAGS="-Cdebuginfo=0 -Ctarget-cpu=native -Clinker=clang"
export            RUST_TARGET="x86_64-apathy-linux-musl"

export             MOZ_NOSPAM=1
export        MOZ_DEBUG_FLAGS="-g0"
export MACH_USE_SYSTEM_PYTHON=1

# 3 >> script vars
 repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-mainline"
filesdir="${repodir}/files"
    pdir="${repodir}/patches"

# 4 >> apply patches
for file in "${pdir}"/*.patch; do patch -p1 < "${file}"; done

# 5 >> nuke addons
sed 's/doh-rollout//;s/screenshots//;s/webcompat//;s/report-site-issue//;s/\"\"//g;s/, //g' \
 -i browser/extensions/moz.build

rm -rfv \
 browser/extensions/{doh-rollout/,report-site-issue/,screenshots/,webcompat/}

# 6 >> add header from alpine
cp -vf "${filesdir}"/stab.h            toolkit/crashreporter/google-breakpad/src/

# 7 >> clear the default bookmarks
cp -vf "${filesdir}"/bookmarks.html.in browser/locales/generic/profile/bookmarks.html.in

# 8 >> clear sums
for sum in audio_thread_priority target-lexicon-0.9.0 proc-macro2 syn packed_simd; do
 sed -i 's/\("files":{\)[^}]*/\1/' third_party/rust/${sum}/.cargo-checksum.json
done

# 9 >> remove prebuilt binaries
find ./third_party -type f \( -name '*.so' -o -name '*.o' \) -print -delete

# 10 >> start the build
cp -v "${filesdir}"/mozconfig .
./mach build

# 11 >> install
instdir="$PWD/KEK"
DESTDIR="${instdir}" ./mach install

# 12 >> install prefs
install -v -Dm644 "${filesdir}"/vendor.js     \
 "${instdir}"/usr/lib/firefox/browser/defaults/preferences/vendor.js
install -v -Dm644 "${filesdir}"/policies.json \
 "${instdir}"/usr/lib/firefox/distribution/policies.json
