# 1 >> extraction
tar xf /mss/work/sauces/firefox-86.0.1.source.tar.xz
cd     firefox-86.0.1/

# 2 >> build vars
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

t61cf="-m80387 -mcx16 -mfancy-math-387 -mfxsr -mhard-float -mieee-fp -mlong-double-80"
t61cf="${t61cf} -mmmx -mred-zone -msahf -msse -msse2 -msse3 -msse4.1 -mssse3"
t61cf="${t61cf} -mtls-direct-seg-refs -march=core2 -mtune=core2"

t61rf="-Ctarget-cpu=core2"
t61rf="${t61rf} -Ctarget-feature=+x87"  t61rf="${t61rf} -Ctarget-feature=+sse3"
t61rf="${t61rf} -Ctarget-feature=+cx16" t61rf="${t61rf} -Ctarget-feature=+sse4.1"
t61rf="${t61rf} -Ctarget-feature=+fxsr" t61rf="${t61rf} -Ctarget-feature=+ssse3"
t61rf="${t61rf} -Ctarget-feature=+mmx"  t61rf="${t61rf} -Ctarget-feature=-avx"
t61rf="${t61rf} -Ctarget-feature=+sahf" t61rf="${t61rf} -Ctarget-feature=-aes"
t61rf="${t61rf} -Ctarget-feature=+sse"  t61rf="${t61rf} -Ctarget-feature=-sse4a"
t61rf="${t61rf} -Ctarget-feature=+sse2" t61rf="${t61rf} -Ctarget-feature=-sse4.2"

export                     CC="clang"
export                    CXX="clang++"
export                     AR="llvm-ar"
export                     AS="${CC}"
export                     NM="llvm-nm"
export                 RANLIB="llvm-ranlib"

export              CXXSTDLIB="c++"

                       CFLAGS="-w -pipe -O2 -fcommon -flto=thin -flto-jobs=5 ${t61cf}"
                       CFLAGS="${CFLAGS} -fuse-ld=lld -stdlib=libc++ -rtlib=compiler-rt -unwindlib=libunwind"
export                 CFLAGS="${CFLAGS} -L/usr/lib/apulse"
export               CXXFLAGS="${CFLAGS}"
                      LDFLAGS="${CFLAGS} -Wl,--as-needed,--sort-common,-z,relro,-z,now,--gc-sections,-O2"
                      LDFLAGS="${LDFLAGS} -Wl,--icf=all,--lto-O3,--thinlto-jobs=5"
export                LDFLAGS="${LDFLAGS} -Wl,-rpath=/usr/lib/firefox,-rpath=/usr/lib/apulse,--enable-new-dtags"

export         BINDGEN_CFLAGS="${CFLAGS}"

export              RUSTFLAGS="-Cdebuginfo=0 -Clinker=$CC ${t61rf}"
export            RUST_TARGET="x86_64-apathy-linux-musl"

export        PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:/mss/files/pkgconfig"

export             MOZ_NOSPAM=1
export        MOZ_DEBUG_FLAGS="-g0"
export MACH_USE_SYSTEM_PYTHON=1

# 3 >> script vars
 repodir="/mss/repo/pkg-management/build-configs/www-browser/firefox-mainline"
filesdir="${repodir}/files"
    pdir="${repodir}/patches"

# 4 >> apply patches
for file in "${pdir}"/*.patch; do patch -p1 < "${file}"; done

# 5 >> add header from alpine
cp -vf "${filesdir}"/stab.h            toolkit/crashreporter/google-breakpad/src/

# 6 >> clear the default bookmarks
cp -vf "${filesdir}"/bookmarks.html.in browser/locales/generic/profile/bookmarks.html.in

# 7 >> clear sums
for sum in target-lexicon-0.9.0; do
 sed -i 's/\("files":{\)[^}]*/\1/' third_party/rust/${sum}/.cargo-checksum.json
done

# 8 >> remove prebuilt binaries
find ./third_party -type f \( -name '*.so' -o -name '*.o' \) -print -delete

# 9 >> start the build
cp -v "${filesdir}"/mozconfig .
./mach build

# 10 >> install
instdir="$PWD/KEK"
DESTDIR="${instdir}" ./mach install

# 11 >> install prefs
install -v -Dm644 "${filesdir}"/vendor.js     \
 "${instdir}"/usr/lib/firefox/browser/defaults/preferences/vendor.js
install -v -Dm644 "${filesdir}"/policies.json \
 "${instdir}"/usr/lib/firefox/distribution/policies.json
