# > 1
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

t61cf="-m80387 -mcx16 -mfancy-math-387 -mfxsr -mhard-float -mieee-fp -mlong-double-80"
t61cf="${t61cf} -mmmx -mred-zone -msahf -msse -msse2 -msse3 -msse4.1 -mssse3"
t61cf="${t61cf} -mtls-direct-seg-refs -march=core2 -mtune=core2"

export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"

export   CFLAGS="-w -pipe -O2 -fcommon ${t61cf}"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed,--sort-common,-z,relro,-z,now,--gc-sections,-O2"

        repodir="/mss/repo/pkg-management/build-configs/www-browser/chromium"
       filesdir="${repodir}/files"
           pdir="${repodir}/patches"
# > 2
cdt1
tar xf /mss/work/sauces/gn-0.1807.tar.xz
cd gn-0.1807/

patch -p1 < "${pdir}"/gn/0001-gn-gen-r4.patch

python2 build/gen.py --no-last-commit-position --no-strip --no-static-libstdc++
cat >out/last_commit_position.h <<-EOF
#ifndef OUT_LAST_COMMIT_POSITION_H_
#define OUT_LAST_COMMIT_POSITION_H_
#define LAST_COMMIT_POSITION_NUM 1807
#define LAST_COMMIT_POSITION "0.1807"
#endif  // OUT_LAST_COMMIT_POSITION_H_
EOF

ninja -j5 -C out gn
mkdir gndir
mv out/gn gndir/
export PATH="$PWD/gndir:$PATH"
cdt1

# > 3
unzip /mss/work/sauces/setuptools-44.1.0.zip
export PYTHONPATH="${PWD}/setuptools-44.1.0"

tar xf /mss/work/sauces/ungoogled-chromium-88.0.4324.182-1.tar.gz
mv ungoogled-chromium-88.0.4324.182-1/ ug/

tar xf /mss/work/sauces/chromium-88.0.4324.190.tar.xz
cd chromium-88.0.4324.190/

# > 4
patch -p1 < "${pdir}"/chromium/0001-chromium-no-getcontext.patch
patch -p1 < "${pdir}"/chromium/0002-chromium-optional-atk.patch
patch -p1 < "${pdir}"/chromium/0003-chromium-optional-dbus.patch
patch -p1 < "${pdir}"/chromium/0004-chromium-88-ozone-deps.patch
patch -p1 < "${pdir}"/chromium/0005-musl-crashpad.patch
patch -p1 < "${pdir}"/chromium/0006-musl-default-pthread-stacksize.patch
patch -p1 < "${pdir}"/chromium/0007-musl-fixes.patch
patch -p1 < "${pdir}"/chromium/0008-musl-hacks.patch
patch -p1 < "${pdir}"/chromium/0009-musl-libc++.patch
patch -p1 < "${pdir}"/chromium/0010-musl-no-execinfo.patch
patch -p1 < "${pdir}"/chromium/0011-musl-no-mallinfo.patch
patch -p1 < "${pdir}"/chromium/0012-musl-resolver.patch
patch -p1 < "${pdir}"/chromium/0013-musl-sandbox.patch
patch -p1 < "${pdir}"/chromium/0014-musl-stacktrace.patch
patch -p1 < "${pdir}"/chromium/0015-musl-sync.patch
patch -p1 < "${pdir}"/chromium/0016-musl-v8-monotonic-pthread-cont_timedwait.patch
patch -p1 < "${pdir}"/chromium/0017-chromium-fix-char_traits.patch
patch -p1 < "${pdir}"/chromium/0018-chromium-78-protobuf-RepeatedPtrField-export.patch
patch -p1 < "${pdir}"/chromium/0019-chromium-79-gcc-protobuf-alignas.patch
patch -p1 < "${pdir}"/chromium/0020-chromium-84-blink-disable-clang-format.patch
patch -p1 < "${pdir}"/chromium/0021-chromium-87-CursorFactory-include.patch
patch -p1 < "${pdir}"/chromium/0022-chromium-87-openscreen-include.patch
patch -p1 < "${pdir}"/chromium/0023-chromium-88-AXTreeFormatter-include.patch
patch -p1 < "${pdir}"/chromium/0024-chromium-88-BookmarkModelObserver-include.patch
patch -p1 < "${pdir}"/chromium/0025-chromium-88-CompositorFrameReporter-dcheck.patch
patch -p1 < "${pdir}"/chromium/0026-chromium-88-StringPool-include.patch
patch -p1 < "${pdir}"/chromium/0027-chromium-88-compiler.patch
patch -p1 < "${pdir}"/chromium/0028-chromium-88-dawn-static.patch
patch -p1 < "${pdir}"/chromium/0029-chromium-88-federated_learning-include.patch
patch -p1 < "${pdir}"/chromium/0030-chromium-88-ideographicSpaceCharacter.patch
patch -p1 < "${pdir}"/chromium/0031-chromium-88-ityp-include.patch
patch -p1 < "${pdir}"/chromium/0032-chromium-88-vaapi-attribute.patch

python3 ../ug/utils/prune_binaries.py ./ ../ug/pruning.list

while read -r patch; do 
 patch -p1 < "../ug/patches/$patch"
done < ../ug/patches/series

python3 ../ug/utils/domain_substitution.py apply \
 -r ../ug/domain_regex.list                      \
 -f ../ug/domain_substitution.list               \
 -c domainsubcache.tar.gz ./

sed -i -e 's/OFFICIAL_BUILD/GOOGLE_CHROME_BUILD/' \
 tools/generate_shim_headers/generate_shim_headers.py

sed -i services/device/public/cpp/usb/BUILD.gn \
 -e 's|//third_party/usb_ids/usb.ids|/usr/share/hwdata/usb.ids|g'

sed -i "1s|python$|&2|" third_party/dom_distiller_js/protoc_plugins/*.py

mkdir -pv                  third_party/node/linux/node-linux-x64/bin
ln    -sfv "$(which node)" third_party/node/linux/node-linux-x64/bin/node

# > 5
system="ffmpeg
        flac
        fontconfig
        freetype
        harfbuzz-ng
        libdrm
        libjpeg
        libwebp
        opus"

for LIB in "$system" libjpeg_turbo; do
 find . -type f -path "*third_party/$LIB/*"                               \
  \! -path "*third_party/$LIB/chromium/*"                                 \
  \! -path "*third_party/$LIB/google/*"                                   \
  \! -path './third_party/pdfium/third_party/freetype/include/pstables.h' \
  \! -path './third_party/harfbuzz-ng/utils/hb_scoped.h'                  \
  \! -name '*.gn'                                                         \
  \! -name '*.gni'                                                        \
  \! -name '*.isolate'                                                    \
  \! -name '*.py'                                                         \
  -delete
done

python2 build/linux/unbundle/replace_gn_files.py --system-libraries $system
python2 third_party/libaddressinput/chromium/tools/update-strings.py

# > 6
conf="angle_enable_vulkan=false
      blink_symbol_level=0
      build_dawn_tests=false
      chrome_pgo_phase=0
      custom_toolchain=\"//build/toolchain/linux/unbundle:default\"
      dawn_enable_vulkan=false
      enable_hangout_services_extension=false
      enable_js_type_check=false
      enable_mdns=false
      enable_mse_mpeg2ts_stream_parser=true
      enable_nacl=false
      enable_nacl_nonsfi=false
      enable_one_click_signin=false
      enable_perfetto_unittests=false
      enable_reading_list=false
      enable_remoting=false
      enable_reporting=false
      enable_service_discovery=false
      enable_swiftshader_vulkan=false
      enable_vr=false
      enable_widevine=false
      exclude_unwind_tables=true
      fatal_linker_warnings=false
      ffmpeg_branding=\"Chrome\"
      fieldtrial_testing_like_official_build=true
      google_api_key=\"\"
      google_default_client_id=\"\"
      google_default_client_secret=\"\"
      host_toolchain=\"//build/toolchain/linux/unbundle:default\"
      is_cfi=false
      is_clang=false
      is_debug=false
      link_pulseaudio=false
      ozone_platform_wayland=false
      proprietary_codecs=true
      rtc_use_pipewire=false
      safe_browsing_mode=0
      symbol_level=0
      treat_warnings_as_errors=false
      use_allocator=\"none\"
      use_allocator_shim=false
      use_atk=false
      use_cups=false
      use_custom_libcxx=false
      use_dbus=false
      use_gnome_keyring=false
      use_gold=false
      use_kerberos=false
      use_libpci=false
      use_lld=false
      use_official_google_api_keys=false
      use_pulseaudio=false
      use_sysroot=false
      use_system_harfbuzz=true
      use_unofficial_version_number=false
      use_vaapi=true
      use_x11=true
      use_xkbcommon=false
      v8_enable_i18n_support=false"

ulimit -n 4096
export TMPDIR=/mss/work/thinltocache

gn gen out/Release --args="$conf" --script-executable=python2
time ninja -j4 -C out/Release chrome

# > 7
instdir="${PWD}/KEK"
mkdir -pv "${instdir}"/usr/{bin,lib/chromium/{locales,swiftshader}}

cp -vf "${filesdir}"/chromium               "${instdir}"/usr/bin/
cp -vf out/Release/chrome                   "${instdir}"/usr/lib/chromium/chromium
cp -vf out/Release/icudtl.dat               "${instdir}"/usr/lib/chromium
cp -vf out/Release/locales/*.pak            "${instdir}"/usr/lib/chromium/locales
cp -vf out/Release/swiftshader/*.so         "${instdir}"/usr/lib/chromium/swiftshader
cp -vf out/Release/{libEGL.so,libGLESv2.so} "${instdir}"/usr/lib/chromium
cp -vf out/Release/*.bin                    "${instdir}"/usr/lib/chromium
cp -vf out/Release/*.pak                    "${instdir}"/usr/lib/chromium

chmod +x \
 "${instdir}"/usr/lib/chromium/*.so     \
 "${instdir}"/usr/lib/chromium/chromium \
 "${instdir}"/usr/lib/chromium/swiftshader/*.so

strip --strip-all -v \
 "${instdir}"/usr/lib/chromium/chromium

strip --strip-unneeded -v \
 "${instdir}"/usr/lib/chromium/*.so \
 "${instdir}"/usr/lib/chromium/swiftshader/*.so
