# > 1
cdt1
tar xf /mss/work/sauces/go-1.15.2-r0.apk
doas -- mv usr/lib/go /usr/lib/go
export PATH="$PATH:$PWD/usr/bin"

# > 2
tar xf /mss/work/sauces/dnscrypt-proxy-2.0.45.tar.gz
cd dnscrypt-proxy-2.0.45/dnscrypt-proxy

export CGO_CFLAGS="-w -pipe -O2 -mtune=native -march=native -fcommon"
export CGO_CXXFLAGS="-w -pipe -O2 -mtune=native -march=native -fcommon"
export CGO_LDFLAGS="-w -pipe -O2 -mtune=native -march=native -fcommon"

go build -ldflags="-s -w" -mod vendor
strip --strip-all dnscrypt-proxy

# > 3
cdt1
rm -rf \
 ./usr/      \
 /usr/lib/go \
 .PKGINFO    \
 .SIGN.RSA.alpine-devel@lists.alpinelinux.org-5261cecb.rsa.pub
