# 1
patch -p1 < /mss/repo/pkg-management/patches/irssi-1.2.2/glib-2-63.patch

# 2
./configure \
 --build=$CBUILD         \
 --host=$CHOST           \
 --prefix=/usr           \
 --sysconfdir=/etc       \
 --mandir=/usr/share/man \
 --without-perl          \
 --with-proxy            \
 --enable-true-color
