# 1
tar xf /mss/work/sauces/libotr-4.1.1.tar.gz
cd libotr-4.1.1/
configtomusl

./configure \
 --build=$CBUILD              \
 --host=$CHOST                \
 --prefix=/mss/work/table/usr \
 --disable-shared             \
 --enable-static

make
make install

                CFLAGS="$CFLAGS -I/mss/work/table/usr/include"
export           CFLAGS="$CFLAGS -L/mss/work/table/usr/lib"
export         CXXFLAGS="$CFLAGS"
export     LIBRARY_PATH="/mss/work/table/usr/lib"
export PKG_BUILD_CONFIG="/mss/work/table/usr/lib/pkgconfig"

# 2
tar xf /mss/work/sauces/irssi-1.2.2.tar.xz
cd irssi-1.2.2

pdir="/mss/repo/pkg-management/patches/irssi-1.2.2"
patch -p1 < "${pdir}"/glib-2-63.patch

# 3
./configure \
 --build=$CBUILD         \
 --host=$CHOST           \
 --prefix=/usr           \
 --sysconfdir=/etc       \
 --mandir=/usr/share/man \
 --without-perl          \
 --with-proxy            \
 --with-otr=static       \
 --enable-true-color
