# > 1
doas -s

unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export CC="x86_64-apathy-linux-musl-gcc"
export AR="x86_64-apathy-linux-musl-gcc-ar"
export NM="x86_64-apathy-linux-musl-gcc-nm"

pdir="/mss/repo/pkg-management/patches/busybox-1.33.0"
cp -v "${pdir}"/config ./.config

# > 3
mymake(){ make CC="${CC}" AR="${AR}" NM="${NM}" V=1 ${@};}

mymake clean
mymake
mymake CONFIG_PREFIX=$PWD/KEK  install
mymake CONFIG_PREFIX=/ install

chmod u+s /bin/busybox
