# > 1
pdir="/mss/repo/pkg-management/patches/cmake-3.20.0"
patch -p1 < "${pdir}"/cmake-no-execinfo.patch

./configure \
  --prefix=/usr       \
  --system-curl       \
  --system-expat      \
  --system-zlib       \
  --system-bzip2      \
  --system-zstd       \
  --system-liblzma    \
  --generator=Ninja   \
  --parallel="$(($(nproc) + 1))"

samu

# > 2
doas -- samu install
doas -- rm -rfv \
 /usr/doc                   \
 /usr/share/cmake-3.20/Help \
 /usr/share/bash-completion \
 /usr/share/emacs
