# > 1
./configure \
 --build=$CBUILD                 \
 --host=$CHOST                   \
 --prefix=/usr                   \
 --libexecdir=/usr/lib           \
\
 --enable-libcap                 \
 --enable-single-binary=symlinks \
 --enable-threads                \
 --with-gmp                      \
\
 --disable-assert                \
 --disable-libsmack              \
 --disable-nls                   \
 --disable-rpath                 \
 --without-linux-crypto          \
 --without-openssl               \
 --without-selinux               \
\
 --enable-no-install-program="kill,uptime,chcon,runcon,uname,users,who"
