# > 1
./configure \
 --build=$CBUILD      \
 --host=$CHOST        \
 --prefix=/usr        \
 --sbindir=/usr/bin   \
 --sysconfdir=/etc    \
 --disable-nls        \
 --disable-uuidd      \
 --disable-fsck       \
 --disable-elf-shlibs \
 --disable-libblkid   \
 --disable-libuuid    \
 --disable-rpath
