# > 1
tar xf /mss/work/sauces/pcre2-10.36.tar.gz
cd pcre2-10.36/

./configure \
 CFLAGS="$CFLAGS -O3"          \
 --build=$CBUILD               \
 --host=$CHOST                 \
 --prefix=/usr                 \
 --enable-jit                  \
 --enable-static               \
 --enable-pcre2-16             \
 --enable-pcre2-32             \
 --with-match-limit-depth=8192 \
 --disable-shared

make DESTDIR="${PWD}"/KEK install

p2path="/mss/work/table2/pcre2-10.36/KEK"

export   CFLAGS="${CFLAGS} -L${p2path}/usr/lib -I${p2path}/usr/include"
export CXXFLAGS="${CXXFLAGS} -L${p2path}/usr/lib -I${p2path}/usr/include"
export  LDFLAGS="${LDFLAGS} -L${p2path}/usr/lib -I${p2path}/usr/include"

export            PATH="/mss/work/table2/pcre2-10.36/KEK/usr/bin:$PATH"
export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:${p2path}/usr/lib/pkgconfig"

cd ..

# > 2
tar xf /mss/work/sauces/fdupes-2.1.2.tar.gz
cd fdupes-2.1.2/

./configure \
 --build=$CBUILD \
 --host=$CHOST   \
 --prefix=/usr

# 2 
make
doas -- make PREFIX="/usr" install
