# 1
pdir="/mss/repo/pkg-management/patches/pciutils-3.7.0"
patch -p1 < "${pdir}"/pread.patch

# 2
make \
 OPT="${LDFLAGS} -fPIC -DPIC" \
 CC="${CC}"                   \
 AR="${AR}"                   \
 RANLIB="${RANLIB}"           \
\
 ZLIB=no                      \
 SHARED=no                    \
 PREFIX=/usr                  \
 SHAREDIR=/usr/share/hwdata   \
 MANDIR=/usr/share/man        \
 SBINDIR=/usr/bin             \
\
 all

make \
 OPT="${LDFLAGS} -fPIC -DPIC" \
 CC="${CC}"                   \
 AR="${AR}"                   \
 RANLIB="${RANLIB}"           \
\
 ZLIB=no                      \
 SHARED=no                    \
 PREFIX=/usr                  \
 SHAREDIR=/usr/share/hwdata   \
 MANDIR=/usr/share/man        \
 SBINDIR=/usr/bin             \
\
 DESTDIR="$PWD/KEK" install

doas -- make \
 OPT="${LDFLAGS} -fPIC -DPIC" \
 CC="${CC}"                   \
 AR="${AR}"                   \
 RANLIB="${RANLIB}"           \
\
 ZLIB=no                      \
 SHARED=no                    \
 PREFIX=/usr                  \
 SHAREDIR=/usr/share/hwdata   \
 MANDIR=/usr/share/man        \
 SBINDIR=/usr/bin             \
\
 install
