# 1
export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      LD="ld.bfd"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      AS="as"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export   STRIP="strip"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"
export OBJCOPY="objcopy"
export OBJDUMP="objdump"
export OBJSIZE="size"
export READELF="readelf"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# 2
pdir="/mss/repo/pkg-management/patches/pciutils-3.7.0"
patch -p1 < "${pdir}"/pread.patch

# 3
mymake(){
 make \
  OPT="${CFLAGS} -fPIC -DPIC" \
\
  ZLIB=no                     \
  SHARED=no                   \
  PREFIX=/usr                 \
  SHAREDIR=/usr/share/hwdata  \
  MANDIR=/usr/share/man       \
  SBINDIR=/usr/bin            \
\
 "${@}"
}

# 4
mymake all

# 5
mymake DESTDIR=$PWD/KEK install
