# > 1
mkdir build
cd    build

../configure \
 --prefix=/usr                           \
 --sysconfdir=/etc                       \
 --disable-static                        \
 --with-system-libdir="/usr/lib"         \
 --with-system-includedir="/usr/include" \
 --with-pkg-config-dir="/usr/lib/pkgconfig:/usr/share/pkgconfig"

make

# > 2
instdir="${PWD}/KEK"
make DESTDIR="${instdir}" install
ln -sfv "${instdir}"/usr/bin/pkgconf "${instdir}"/usr/bin/pkg-config

doas -- make install-strip
doas -- ln -sfv /usr/bin/pkgconf /usr/bin/pkg-config
