# 1
export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      LD="ld.bfd"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      AS="as"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export   STRIP="strip"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"
export OBJCOPY="objcopy"
export OBJDUMP="objdump"
export OBJSIZE="size"
export READELF="readelf"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -I/mss/work/table/usr/include -L/mss/work/table/usr/lib"
export CXXFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -I/mss/work/table/usr/include -L/mss/work/table/usr/lib"
export  LDFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -Wl,--as-needed -Wl,--gc-sections -Wl,-O2 -I/mss/work/table/usr/include -L/mss/work/table/usr/lib"

# 2
cdt1
gcd1 https://github.com/jbeder/yaml-cpp.git

cd yaml-cpp/

mkdir build
cd    build

cmake -GNinja -Wno-dev \
 -DCMAKE_INSTALL_PREFIX="/mss/work/table/usr"     \
 -DCMAKE_INSTALL_LIBDIR="/mss/work/table/usr/lib" \
 -DCMAKE_BUILD_TYPE=Release                       \
 -DCMAKE_C_FLAGS_RELEASE_INIT="$CFLAGS"           \
 -DCMAKE_CXX_FLAGS_RELEASE_INIT="$CXXFLAGS"       \
 -DCMAKE_EXE_LINKER_FLAGS_RELEASE_INIT="$LDFLAGS" \
 -DYAML_BUILD_SHARED_LIBS=OFF                     \
..

samu -j5
samu install

# 3
export PKG_CONFIG_PATH=/mss/work/table/usr/lib/pkgconfig:/mss/work/table/usr/share/pkgconfig:$PKG_CONFIG_PATH
cdt1
gcd1 https://github.com/vmatare/thinkfan.git

cd   thinkfan/
mkdir build
cd    build

cmake -GNinja -Wno-dev \
 -DCMAKE_INSTALL_PREFIX="/usr"                    \
 -DCMAKE_BUILD_TYPE=Release                       \
 -DCMAKE_C_FLAGS_RELEASE_INIT="$CFLAGS"           \
 -DCMAKE_CXX_FLAGS_RELEASE_INIT="$CXXFLAGS"       \
 -DCMAKE_EXE_LINKER_FLAGS_RELEASE_INIT="$LDFLAGS" \
 -DUSE_ATASMART:BOOL=OFF                          \
..

samu -j5
samu install
