# > 1
pdir="/mss/repo/pkg-management/patches/usbutils-013"
patch -p1 < "${pdir}"/hwdata.patch

# > 2
./autogen.sh

./configure \
 --build=$CBUILD             \
 --host=$CHOST               \
 --prefix=/usr               \
 --datadir=/usr/share/hwdata \
 --enable-usbids             \
 --disable-zlib
