./configure \
 ADJTIME_PATH=/var/lib/hwclock/adjtime \
 --build="${CBUILD}"                   \
 --host="${CHOST}"                     \
 --prefix="/usr"                       \
 --libdir="/usr/lib"                   \
\
 --enable-colors-default               \
 --enable-cal                          \
 --enable-fdisks                       \
 --enable-fsck                         \
 --enable-hwclock                      \
 --enable-hwclock-cmos                 \
 --enable-hwclock-gplv3                \
 --enable-kill                         \
 --enable-libblkid                     \
 --enable-libfdisk                     \
 --enable-libmount                     \
 --enable-libsmartcols                 \
 --enable-libuuid                      \
 --enable-losetup                      \
 --enable-mount                        \
 --enable-mountpoint                   \
 --enable-rfkill                       \
 --enable-shared                       \
 --with-libmagic                       \
 --with-libz                           \
 --with-ncursesw                       \
 --with-readline                       \
 --with-tinfo                          \
 --with-udev                           \
\
 --disable-agetty                      \
 --disable-assert                      \
 --disable-bash-completion             \
 --disable-bfs                         \
 --disable-chfn-chsh                   \
 --disable-chfn-chsh-password          \
 --disable-chmem                       \
 --disable-chsh-only-listed            \
 --disable-cramfs                      \
 --disable-eject                       \
 --disable-fallocate                   \
 --disable-fdformat                    \
 --disable-gtk-doc                     \
 --disable-hardlink                    \
 --disable-ipcrm                       \
 --disable-ipcs                        \
 --disable-irqtop                      \
 --disable-last                        \
 --disable-libmount-support-mtab       \
 --disable-line                        \
 --disable-logger                      \
 --disable-login                       \
 --disable-login-chown-vcs             \
 --disable-login-stat-mail             \
 --disable-lsirq                       \
 --disable-lslogins                    \
 --disable-lsmem                       \
 --disable-mesg                        \
 --disable-minix                       \
 --disable-more                        \
 --disable-newgrp                      \
 --disable-nls                         \
 --disable-nologin                     \
 --disable-nsenter                     \
 --disable-partx                       \
 --disable-pg                          \
 --disable-pg-bell                     \
 --disable-pivot_root                  \
 --disable-plymouth_support            \
 --disable-pylibmount                  \
 --disable-raw                         \
 --disable-rename                      \
 --disable-rpath                       \
 --disable-runuser                     \
 --disable-schedutils                  \
 --disable-setpriv                     \
 --disable-setterm                     \
 --disable-static                      \
 --disable-su                          \
 --disable-sulogin                     \
 --disable-sulogin-emergency-mount     \
 --disable-switch_root                 \
 --disable-tls                         \
 --disable-tunelp                      \
 --disable-ul                          \
 --disable-unshare                     \
 --disable-use-tty-group               \
 --disable-usrdir-path                 \
 --disable-utmpdump                    \
 --disable-uuidd                       \
 --disable-vipw                        \
 --disable-wall                        \
 --disable-wdctl                       \
 --disable-wipefs                      \
 --disable-write                       \
 --disable-zramctl                     \
 --without-audit                       \
 --without-bashcompletiondir           \
 --without-btrfs                       \
 --without-cap-ng                      \
 --without-cryptsetup                  \
 --without-econf                       \
 --without-ncurses                     \
 --without-python                      \
 --without-selinux                     \
 --without-slang                       \
 --without-smack                       \
 --without-systemd                     \
 --without-systemdsystemunitdir        \
 --without-user                        \
 --without-utempter                    \
 --without-vendordir
