./configure --prefix=/usr	\
 --mandir=/usr/share/man	\
 --sysconfdir=/etc/elinks	\
 --with-zlib			\
 --without-lzma			\
 --without-bzlib		\
 --without-x			\
 --enable-cgi			\
 --enable-leds			\
 --disable-smb			\
 --enable-256-colors		\
 --enable-html-highlight	\
 --enable-exmode		\
 --disable-ipv6			\
 --enable-bittorrent		\
 --enable-gopher		\
 --with-spidermonkey		\
 --enable-sm-scripting		\
 --with-python=/usr/bin/python
