# > 1
tar xf /mss/work/sauces/libev-4.31.tar.gz
cd libev-4.31/

pdir="/mss/repo/pkg-management/patches/libev-4.11"
patch -p1 < "${pdir}"/libev-4.11-Add-pkgconfig-support.patch

libtoolize --force
aclocal -I m4
autoheader
autoconf
automake --add-missing

./configure \
 --build=$CBUILD              \
 --host=$CHOST                \
 --prefix=/mss/work/table/KEK \
 --disable-shared             \
 --enable-static 

make
make install

cd ..

penis="/mss/work/table/KEK"
export   CFLAGS="${CFLAGS}   -I${penis}/include -L${penis}/lib"
export CXXFLAGS="${CXXFLAGS} -I${penis}/include -L${penis}/lib"
export  LDFLAGS="${LDFLAGS}  -I${penis}/include -L${penis}/lib"

export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:${penis}/lib/pkgconfig" 
export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${penis}/lib"
export LIBRARY_PATH="${LD_LIBRARY_PATH}"

# > 2
tar xf /mss/work/sauces/compton-5.1.tar.gz
cd picom-5.1/

mkdir build
cd    build

meson \
 --prefix=/usr       \
 --buildtype=release \
 -Dconfig_file=false \
 -Ddbus=false        \
 ..

DESTDIR=$PWD/KEK samu install
strip --strip-all KEK/usr/bin/compton -v
doas -- mv KEK/usr/bin/compton /usr/bin/
