# > 1
gcd1 https://anongit.freedesktop.org/git/xorg/driver/xf86-video-intel

# > 2
autoreconf -vif 

# > 3
./configure \
 --build=$CBUILD       \
 --host=$CHOST         \
 --prefix=/usr         \
 --libexecdir=/usr/bin \
\
 --enable-kms          \
 --enable-sna          \
 --enable-uxa          \
 --enable-xvmc         \
 --with-default-dri=3  \
 --enable-tear-free    \
\
 --disable-dga         \
 --disable-xaa         \
 --disable-selective-werror
