# > 1
./configure \
 --build=$CBUILD \
 --host=$CHOST   \
\
 --prefix=/usr                  \
 --sysconfdir=/etc              \
 --localstatedir=/var           \
 --disable-static               \
 --with-xkb-output=/var/lib/xkb \
\
 --enable-install-setuid   \
 --enable-suid-wrapper     \
\
 --disable-xwayland        \
 --disable-unit-tests      \
 --disable-systemd-logind  \
 --with-systemd-daemon=off \
\
 --enable-glx    \
 --enable-dri    \
 --enable-dri2   \
 --enable-dri3   \
 --enable-glamor \
 --enable-xorg   \
\
 --with-sha1=libcrypto
