# > 1
./configure \
 --build="${CBUILD}" \
 --host="${CHOST}"   \
 --prefix=/usr       \
 --sysconfdir=/etc   \
 --sbindir=/usr/bin  \
\
 --enable-programs   \
 --enable-blkid      \
 --disable-selinux   \
 --disable-manpages  \
 --disable-kmod      \
 --disable-hwdb      \
 --disable-static    \
 --disable-introspection

# > 2
doas -- cp -rv \
 /mss/repo/directories/system/etc/udev/rules.d/* \
 /etc/udev/rules.d/
