// msslinux useragent
"general.useragent.override", "Mozilla/5.0 (X11; Linux x86_64; rv:54.0) Gecko/20100101 Firefox/54.0"

// privacy
"extensions.blocklist.enabled", false
"services.sync.prefs.sync.security.OCSP.enabled", false
"security.OCSP.GET.enabled", false
"security.OCSP.require", false
"security.OCSP.enabled", 0
"geo.enabled", false
