body {
 font-size: 9pt;
 color: #464646;
 background-color: #000000;
 padding: 0;
 margin: 0;
 font-family: monospace;
 overflow: hidden;
}

a:link {
 color: #ababab;
 background-color: transparent;
 text-decoration: none;
}

a:visited {
 color: #525252;
 background-color: transparent;
 text-decoration: none;
}

a:hover {
 color: #e62063;
 background-color: transparent;
 text-decoration: none;
}

body.frame {
 overflow: hidden;
 overflow-y: auto;
}
h2 {
 font-size: 12pt;
 margin: 0.5em 0;
}
#sidebar ul, #sidebar ul li {
 list-style: none;
 padding: 0;
 margin: 0;
}
#sidebar {
 background-color: inherit;
}
#sidebar a {
 padding: 5px 3px 5px 10px;
}
#sidebar a {
 display: block;
}
#sidebar a, #items h2 a {
 color: inherit;
}
div#items {
 padding: 0 15px;
}
body.noframe div#sidebar {
 position: fixed;
 top: 0;
 left: 0;
 width: 175px;
 height: 100%;
 overflow: hidden;
 overflow-y: auto;
 z-index: 999;
}
body.noframe div#items {
 left: 175px;
 position: absolute;
 height: 100%;
 top: 0;
 right: 0;
 overflow: auto;
}
body.noframe div#items.nosidebar {
 left: 0px;
}
body.frame #sidebar br {
 display: none;
}
body.frame .content {
 padding: 0 1em;
 font-family: sans;
 font-size: medium;
}
