ARIA2_STATIC="yes"                         \
LDFLAGS="-s -static"                       \
CFLAGS="-march=native -mtune=native -O3"   \
CXXFLAGS="-march=native -mtune=native -O3" \
CC="x86_64-alpine-linux-musl-gcc"          \
CXX="x86_64-alpine-linux-musl-g++"         \
./configure \
 ARIA2_STATIC=yes \
\
 --build=x86_64-alpine-linux-musl \
 --host=x86_64-alpine-linux-musl  \
 --prefix=/usr                    \
\
 --disable-libaria2  \
\
 --disable-nls       \
 --enable-static     \
 --enable-shared=no  \
\
 --with-openssl      \
 --with-libssh2      \
 --with-sqlite3      \
\
 --without-jemalloc  \
 --without-libxml2   \
 --without-libgcrypt \
 --without-libnettle \
 --without-gnutls    \
 --without-libgmp    \
 --with-ca-bundle='/etc/ssl/certs/ca-certificates.crt'
