# > 1
export   CFLAGS="$CFLAGS -O3"
export CXXFLAGS="$CFLAGS"

# > 2
./configure \
 --build=$CBUILD         \
 --host=$CHOST           \
 --prefix=/usr           \
\
 --with-pic              \
 --with-ca-fallback      \
 --enable-unix-sockets   \
 --enable-hidden-symbols \
 --with-libssh2          \
\
 --disable-manual        \
 --disable-static        \
 --disable-ipv6          \
 --disable-ldap          \
 --disable-ares          \
 --without-libidn        \
 --without-libidn2       \
 --without-librtmp       \
 --without-icu           \
 --without-libpsl

# > 3
make
make install
