# > 1
./configure \
 --build=$CBUILD                   \
 --host=$CHOST                     \
\
 --prefix=/usr                     \
 --sbindir=/usr/bin                \
 --sysconfdir=/etc/ssh             \
 --datadir=/usr/share/openssh      \ 
 --libexecdir=/usr/lib/ssh         \
\
 --with-privsep-user=sshd          \
 --with-privsep-path=/var/lib/sshd \
\
 --with-ssl-engine                 \
 --with-libedit                    \
\
 --without-selinux                 \
 --without-rpath                   \
 --disable-wtmp                    \
 --disable-utmp                    \
 --disable-lastlog
