./configure \
 --prefix=/usr             \
 --sysconfdir=/etc/ssh     \
 --with-md5-passwords      \
 --build=$CBUILD           \
 --host=$CHOST             \
 --sysconfdir=/etc/ssh     \
 --libexecdir=/usr/lib/ssh \
 --disable-lastlog         \
 --disable-wtmp            \
 --with-privsep-user=sshd  \
 --with-ssl-engine         \
 --with-libedit            \
 --with-privsep-path=/var/lib/sshd \
