# > 1
cmake \
 -DCMAKE_INSTALL_PREFIX=/usr \
 -DCMAKE_BUILD_TYPE=Release  \
 -Wno-dev -GNinja ..

# > 2
doas -- samu install

# > 3
doas -s
pdir="/mss/repo/pkg-management/patches/apulse-0f9f8487"
cp -r \
 "${pdir}"/libpulse-mainloop-glib.pc \
 "${pdir}"/libpulse-simple.pc        \
 "${pdir}"/libpulse.pc               \
\
 /usr/lib/pkgconfig
