# > 1
cmake -Wno-dev -GNinja       \
 -DCMAKE_INSTALL_PREFIX=/usr \
 -DCMAKE_BUILD_TYPE=Release  \
..

samu
doas -- samu install

# > 2
pdir="/mss/repo/pkg-management/patches/apulse-0f9f8487"
mkdir -pv /mss/pkgconfig
cp -r \
 "${pdir}"/libpulse-mainloop-glib.pc \
 "${pdir}"/libpulse-simple.pc        \
 "${pdir}"/libpulse.pc               \
\
 /mss/pkgconfig

doas -- chown -R root:root /mss/pkgconfig
