# > 1
mkdir build
cd    build

# > 2
meson \
 --buildtype=release     \
 --prefix=/usr           \
\
 -Denable_asm=true       \
 -Denable_avx512=false   \
 -Denable_tools=false    \
 -Denable_examples=false \
 -Denable_tests=false    \
 -Dtestdata_tests=false  \
 -Dfuzzing_engine=none   \
..

# > 3
samu
