# > 1
sed -i "/subdir('tests')/d" meson.build

# > 2
meson \
 --buildtype=release     \
 --prefix=/usr           \
 --sysconfdir=/etc       \
 --mandir=/usr/share/man \
 -Dgir=false             \
 -Djasper=false          \
 -Dpng=true              \
 -Ddocs=false            \
 -Dman=false             \
 -Dgio_sniffing=false    \
 -Dinstalled_tests=false \
 -Dbuiltin_loaders=all   \
..
