# > 1
sed -i "/subdir('tests')/d" meson.build

# > 2
mkdir build
cd    build

meson \
 --prefix=/usr            \
 --buildtype=release      \
 -Dpng=true               \
 -Dtiff=true              \
 -Djpeg=true              \
 -Dbuiltin_loaders=all    \
 -Dgtk_doc=false          \
 -Ddocs=false             \
 -Dintrospection=disabled \
 -Dman=false              \
 -Drelocatable=false      \
 -Dinstalled_tests=false  \
 -Dgio_sniffing=false     \
..
