# > 1
sed -i 's/HAVE_LIBELF/HAVE_APATHY/'    gio/meson.build
sed -i 's/libmount_dep.found()/false/' meson.build

# > 2
find . -type f -name meson.build -exec \
 sed -i "/subdir('tests')/d;/subdir('fuzzing')/d" {} +

# > 3
mkdir build
cd    build

meson \
 --buildtype=release     \
 --prefix=/usr           \
 -Dlibmount=disabled     \
 -Dinstalled_tests=false \
 -Dman=false             \
 -Dfam=false             \
 -Dnls=disabled		 \
 -Dinternal_pcre=false   \
..

samu
doas -- samu install

# > 4
rm -rfv \
 /usr/bin/gdbus     \
 /usr/share/gettext \
 /usr/share/bash-completion
