# > 1
find . -type f -name meson.build -exec \
 sed -i "/subdir('tests')/d;/subdir('fuzzing')/d" {} +

# > 2
mkdir build
cd    build

meson \
 --prefix=/usr           \
 --buildtype=release     \
 -Dfam=false             \
 -Dgtk_doc=false         \
 -Dinstalled_tests=false \
 -Dinternal_pcre=false   \
 -Dlibmount=enabled      \
 -Dman=false             \
 -Dnls=disabled          \
 -Dtests=false           \
 -Dxattr=false           \
..

samu

# > 3
doas -- samu install
doas -- rm -rfv     \
 /usr/share/gdb     \
 /usr/share/gettext \
 /usr/share/bash-completion
