export CFLAGS="$CFLAGS -fno-strict-aliasing -D_XOPEN_SOURCE"

mkdir build
cd    build

meson \
 --prefix=/usr            \
 --sysconfdir=/etc        \
 --mandir=/usr/share/man  \
 --localstatedir=/var     \
 --buildtype=release      \
 -Dalsa=enabled           \
 -Dintrospection=disabled \
 -Dpackage-name="gst-libav (apathy linux)"    \
 -Dpackage-origin="https://github.com/mssx86/apathy" \
 ..
