# > 1
export   CFLAGS="${CFLAGS}   -fno-strict-aliasing -D_XOPEN_SOURCE"
export CXXFLAGS="${CXXFLAGS} -fno-strict-aliasing -D_XOPEN_SOURCE"
export  LDFLAGS="${LDFLAGS}  -fno-strict-aliasing -D_XOPEN_SOURCE"

# 2
mkdir build
cd    build

meson \
 --prefix=/usr            \
 --sysconfdir=/etc        \
 --mandir=/usr/share/man  \
 --localstatedir=/var     \
 --buildtype=release      \
 -Dalsa=enabled           \
 -Dintrospection=disabled \
..
