mkdir build
cd build

meson \
 --prefix=/usr              \
 --sysconfdir=/etc          \
 --mandir=/usr/share/man    \
 --localstatedir=/var       \
 --buildtype=release        \
 -Dintrospection=disabled   \
 -Dbash-completion=disabled \
 -Dptp-helper-permissions=capabilities               \
 -Dpackage-name="gstreamer (apathy linux)"           \
 -Dpackage-origin="https://github.com/mssx86/apathy" \
 ..
