# > 1
export CFLAGS="$CFLAGS -UGDK_PIXBUF_DISABLE_DEPRECATED"

# > 2
sed -i 's/modules demos tests/modules/' Makefile.am Makefile.in
sed -i 's/docs m4macros/m4macros/'      Makefile.am Makefile.in

# > 3
./configure \
 --build=$CBUILD      \
 --host=$CHOST        \ 
 --prefix=/usr        \
 --sysconfdir=/etc    \
 --localstatedir=/var \
 --enable-debug=no    \
 --disable-gtk-doc    \
 --with-xinput=yes

# > 4
make
doas -- make install

# > 5
rm -rf /usr/bin/gtk-update-icon-cache
rm -rf /usr/bin/gtk-demo
rm -rf /usr/share/gtk-2.0/demo
