# > 1
pdir="/mss/repo/pkg-management/patches/sdl2-2.0.14"
patch -p1 < "${pdir}"/libsdl2-2.0.14-static-libs.patch
patch -p1 < "${pdir}"/replace-echo-en-with-printf.patch

autoreconf -fvi

export   CFLAGS="${CFLAGS}   -D__LINUX__"
export CXXFLAGS="${CXXFLAGS} -D__LINUX__"
export  LDFLAGS="${LDFLAGS}  -D__LINUX__"

# > 2
./configure \
 --build=$CBUILD               \
 --host=$CHOST                 \
 --prefix=/usr                 \
 --enable-shared               \
 --disable-static              \
\
 --enable-alsa                 \
 --enable-assembly             \
 --enable-atomic               \
 --enable-audio                \
 --enable-cpuinfo              \
 --enable-events               \
 --enable-file                 \
 --enable-filesystem           \
 --enable-ibus                 \
 --enable-libudev              \
 --enable-loadso               \
 --enable-mmx                  \
 --enable-power                \
 --enable-render               \
 --enable-sse                  \
 --enable-sse2                 \
 --enable-ssemath              \
 --enable-threads              \
 --enable-timers               \
 --enable-video-kmsdrm         \
 --enable-video-opengl         \
 --enable-video-opengles2      \
 --enable-video-x11            \
 --enable-video-x11-vm         \
 --enable-video-x11-xcursor    \
 --enable-video-x11-xdbe       \
 --enable-video-x11-xinerama   \
 --enable-video-x11-xinput     \
 --enable-video-x11-xrandr     \
 --enable-video-x11-xshape     \
 --disable-3dnow               \
 --disable-alsa-shared         \
 --disable-altivec             \
 --disable-arts                \
 --disable-dbus                \
 --disable-directx             \
 --disable-diskaudio           \
 --disable-dummyaudio          \
 --disable-esd                 \
 --disable-fcitx               \
 --disable-fusionsound         \
 --disable-fusionsound-shared  \
 --disable-haptic              \
 --disable-jack                \
 --disable-jack-shared         \
 --disable-joystick            \
 --disable-kmsdrm-shared       \
 --disable-libsamplerate       \
 --disable-nas                 \
 --disable-nas-shared          \
 --disable-oss                 \
 --disable-pulseaudio          \
 --disable-pulseaudio-shared   \
 --disable-render-d3d          \
 --disable-rpath               \
 --disable-sndio               \
 --disable-sndio-shared        \
 --disable-video-cocoa         \
 --disable-video-directfb      \
 --disable-video-dummy         \
 --disable-video-opengles1     \
 --disable-video-rpi           \
 --disable-video-vulkan        \
 --disable-video-x11-scrnsaver \
 --disable-wayland-shared      \
 --disable-x11-shared

# > 3
make
doas -- make install
doas -- rm -rfv \
 /usr/lib/libSDL2.la      \
 /usr/lib/libSDL2_test.a  \
 /usr/lib/libSDL2_test.la \
 /usr/lib/libSDL2main.a   \
 /usr/lib/libSDL2main.la
