# 1
export      CC="x86_64-apathy-linux-musl-gcc"
export     CXX="x86_64-apathy-linux-musl-g++"
export      AR="x86_64-apathy-linux-musl-gcc-ar"
export      AS="x86_64-apathy-linux-musl-gcc-as"
export      NM="x86_64-apathy-linux-musl-gcc-nm"
export  RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"

export   CFLAGS="-w -Ofast -mtune=native -march=native -fstack-protector-strong -fno-common -fgraphite-identity -floop-nest-optimize -ftree-vectorize -flto=2 -fuse-linker-plugin -fno-fat-lto-objects"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"

# 2
pdir="/mss/repo/pkg-management/patches/x264-20191119-2245"
patch -p1 < "${pdir}"/x264-no-bash.patch

configtomusl

# 3
./configure \
 --prefix=/usr     \
 --disable-swscale \
 --enable-pic      \
 --enable-shared   \
 --enable-lto
