# > 1
./configure \
 --build="${CBUILD}"        \
 --host="${CHOST}"          \
 --prefix=/usr              \
 --disable-canberra         \
 --disable-gui              \
 --disable-nls              \
 --enable-acl               \
 --enable-cscope            \
 --enable-gpm               \
 --enable-multibyte         \
 --enable-netbeans          \
 --with-compiledby="apathy" \
 --with-features=huge       \
 --with-tlib=ncursesw       \
 --with-x=no
