./configure \
 --prefix=/usr                    \
 --build=x86_64-apathy-linux-musl \
 --host=x86_64-apathy-linux-musl  \
 --with-features=huge             \
 --with-compiledby='apathy-mlfs'  \
 --enable-gpm                     \
 --enable-acl                     \
 --with-tlib=ncursesw             \
 --with-x=no                      \
 --disable-gui                    \
 --enable-multibyte               \
 --enable-cscope                  \
 --enable-netbeans                \
 --disable-canberra               \
 --disable-nls

