### directories
ac_add_options --prefix=/usr
ac_add_options --libdir=/usr/lib

### compiler stuff
ac_add_options --target=x86_64-linux-musl
ac_add_options --enable-optimize="-march=native -O2 -Wno-format-overflow"
ac_add_options --disable-warnings-as-errors
ac_add_options --enable-gold=no
ac_add_options --disable-jemalloc
ac_add_options --with-pthreads
ac_add_options --disable-elf-hack
ac_add_options --enable-strip
ac_add_options --enable-install-strip
ac_add_options --disable-debug
ac_add_options --disable-debug-symbols

mk_add_options AUTOCLOBBER=1
mk_add_options MOZ_OBJDIR=/mss/work/UXP/pmbuild
mk_add_options MOZ_MAKE_FLAGS="-j1"
mk_add_options CFLAGS="-march=native -O2 -Wno-format-overflow"
mk_add_options CXXLAGS="-march=native -O2 -Wno-format-overflow"

### branding
ac_add_options --enable-application=palemoon
ac_add_options --with-app-name=apathy-browser
ac_add_options --with-app-basename="apathy browser"
ac_add_options --with-branding=application/palemoon/branding/unofficial

### features
ac_add_options --enable-alsa
ac_add_options --disable-dbus
ac_add_options --disable-pulseaudio
ac_add_options --disable-gconf

### build features
ac_add_options --disable-tests
ac_add_options --disable-eme
ac_add_options --disable-parental-controls
ac_add_options --disable-accessibility
ac_add_options --disable-webrtc
ac_add_options --disable-icf
ac_add_options --disable-gamepad
ac_add_options --disable-necko-wifi
ac_add_options --disable-updater
ac_add_options --disable-sync
ac_add_options --x-libraries=/usr/lib
ac_add_options --enable-default-toolkit=cairo-gtk2
mk_add_options PYTHON=/usr/bin/python2

### (don't) use system libs
ac_add_options --with-system-ffi
#ac_add_options --enable-system-cairo
ac_add_options --enable-system-pixman
ac_add_options --with-system-bz2
ac_add_options --with-system-icu
ac_add_options --with-system-jpeg
#ac_add_options --with-system-libevent
ac_add_options --with-system-libvpx
ac_add_options --with-system-nspr
#ac_add_options --with-system-nss
ac_add_options --with-system-png
ac_add_options --with-system-zlib
