# 1 >> extraction
tar xf /mss/work/sauces/Pale-Moon-28.13.0_Release.tar.gz
cd     Pale-Moon-28.13.0_Release/

tar xf /mss/work/sauces/UXP-RELBASE_20200901.tar.gz
rm -rfv platform
mv UXP-RELBASE_20200901/ platform/

# 2 >> build vars
unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export                  CC="x86_64-apathy-linux-musl-gcc"
export                 CXX="x86_64-apathy-linux-musl-g++"

export              CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -fcommon -fgraphite-identity -floop-nest-optimize -ftree-vectorize -fuse-ld=lld"
export            CXXFLAGS="${CFLAGS}"
export             LDFLAGS="${CFLAGS} -Wl,-rpath=/usr/lib/apathy-browser-28.13.0 -Wl,--as-needed -Wl,--gc-sections -Wl,-O2 -Wl,--icf=full"
export      MOZ_LINK_FLAGS="${LDFLAGS}"

export           MOZCONFIG="$PWD/mozconfig"
export MOZBUILD_STATE_PATH="$PWD/mozbuild"

# 3 >> script vars
 repodir="/mss/repo/pkg-management/build-configs/www-browser/apathy-browser"
filesdir="${repodir}/files"
branding="${repodir}/branding"

# 4 >> copy mozconfig
cp -v "${filesdir}"/mozconfig ./mozconfig

# 5 >> apply branding
cp -v "${branding}"/bookmarks.html.in         ./palemoon/locales/generic/profile/
cp -v "${branding}"/aboutDialog.xul           ./palemoon/base/content/
cp -v "${branding}"/browserconfig.properties  ./palemoon/branding/shared/locales/
cp -v "${branding}"/preferences.inc           ./palemoon/branding/shared/pref/
cp -v "${branding}"/uaoverrides.inc           ./palemoon/branding/shared/pref/
cp -v "${branding}"/branding.nsi              ./palemoon/branding/unofficial/
cp -v "${branding}"/configure.sh              ./palemoon/branding/unofficial/
cp -v "${branding}"/brand.dtd                 ./palemoon/branding/unofficial/locales/en-US/
cp -v "${branding}"/brand.properties          ./palemoon/branding/unofficial/locales/en-US/
cp -v "${branding}"/palemoon-branding.js      ./palemoon/branding/unofficial/pref/
cp -v "${branding}"/about-background.png      ./palemoon/branding/unofficial/content/

# 6 >> disable -pipe, fucker swaps to disk
patch -p1 < "${filesdir}"/0001-disable-pipe.patch

# 7 >> action
/bin/busybox time ./mach build

# 8 >> install
instdir="${PWD}"/KEK
DESTDIR="${instdir}" ./mach install

rm -rf ${instdir}/usr/include
rm -rf ${instdir}/usr/lib/apathy-browser-devel-28.13.0
rm -rf ${instdir}/usr/share
