# 1 >> extraction
cdt1
tar xf /mnt/mss/stuff/techy-bits/packaged-software/x220-gtk+-2.24.32-lib-and-include.tar.zst

tar xf /mss/work/sauces/Pale-Moon-28.15.0_Release.tar.gz
cd     pale-moon

tar xf /mss/work/sauces/UXP-RELBASE_20201024.tar.gz
rm -rfv platform
mv uxp/ platform/

# 2 >> build vars
t61flags="-m64 -m80387 -m96bit-long-double -malign-stringops -mcx16 -mfancy-math-387 -mfp-ret-in-387 -mfxsr -mhard-float -mieee-fp"
t61flags="${t61flags} -mlong-double-80 -mmmx -mmusl -mpush-args -mred-zone -msahf -msse -msse2 -msse3 -msse4.1"
t61flags="${t61flags} -mssse3 -mtls-direct-seg-refs -march=core2 -mtune=core2"

unset \
 CC CXX LD AR AS NM STRIP RANLIB OBJCOPY OBJDUMP \
 OBJSIZE READELF ADDR2LINE CFLAGS CXXFLAGS LDFLAGS

export                  CC="x86_64-apathy-linux-musl-gcc"
export                 CXX="x86_64-apathy-linux-musl-g++"
export                  AR="x86_64-apathy-linux-musl-gcc-ar"
export                  NM="x86_64-apathy-linux-musl-gcc-nm"
export              RANLIB="x86_64-apathy-linux-musl-gcc-ranlib"

                    CFLAGS="-w -O3 ${t61flags} -fstack-protector-strong -fcommon"
                    CFLAGS="${CFLAGS} -fgraphite-identity -floop-nest-optimize -ftree-vectorize -flto=4 -fuse-linker-plugin -fno-fat-lto-objects"
export              CFLAGS="${CFLAGS} -I/mss/work/table/gtk/include -L/mss/work/table/gtk/lib"
export            CXXFLAGS="${CFLAGS}"
export             LDFLAGS="${CFLAGS} -Wl,-rpath=/usr/lib/apathy-browser-28.15.0 -Wl,--as-needed -Wl,--gc-sections -Wl,-O2"
export      MOZ_LINK_FLAGS="${LDFLAGS}"

export     PKG_CONFIG_PATH="/mss/work/table/gtk/lib/pkgconfig:$PKG_CONFIG_PATH"

export           MOZCONFIG="$PWD/mozconfig"
export MOZBUILD_STATE_PATH="$PWD/mozbuild"

# 3 >> script vars
 repodir="/mss/repo/pkg-management/build-configs/www-browser/apathy-browser"
filesdir="${repodir}/files"
branding="${repodir}/branding"

# 4 >> copy mozconfig
cp -v "${filesdir}"/mozconfig ./mozconfig

# 5 >> apply branding
cp -v "${branding}"/bookmarks.html.in         ./palemoon/locales/generic/profile/
cp -v "${branding}"/aboutDialog.xul           ./palemoon/base/content/
cp -v "${branding}"/browserconfig.properties  ./palemoon/branding/shared/locales/
cp -v "${branding}"/preferences.inc           ./palemoon/branding/shared/pref/
cp -v "${branding}"/uaoverrides.inc           ./palemoon/branding/shared/pref/
cp -v "${branding}"/branding.nsi              ./palemoon/branding/unofficial/
cp -v "${branding}"/configure.sh              ./palemoon/branding/unofficial/
cp -v "${branding}"/brand.dtd                 ./palemoon/branding/unofficial/locales/en-US/
cp -v "${branding}"/brand.properties          ./palemoon/branding/unofficial/locales/en-US/
cp -v "${branding}"/palemoon-branding.js      ./palemoon/branding/unofficial/pref/
cp -v "${branding}"/about-background.png      ./palemoon/branding/unofficial/content/

# 6 >> action
/bin/busybox time ./mach build

# 7 >> install
instdir="${PWD}"/KEK
DESTDIR="${instdir}" ./mach install

rm -rf ${instdir}/usr/include
rm -rf ${instdir}/usr/lib/apathy-browser-devel-28.15.0
rm -rf ${instdir}/usr/lib/apathy-browser-28.15.0/gtk2
rm -rf ${instdir}/usr/share
