patch -p1 < patch -p1 < /mss/repo/pkg-management/patches/cairo-1.17.2/musl-stacksize.patch
sed -i 's/have_png/use_png/g' configure.ac

./configure \
 --build=$CBUILD        \
 --host=$CHOST          \
 --prefix=/usr          \
 --sysconfdir=/etc      \
 --localstatedir=/var   \
 --disable-static       \
 --disable-gl           \
 --enable-tee           \
 --enable-ft            \
 --enable-png           \
 --enable-ps            \
 --enable-pdf           \
 --enable-gobject       \
 --enable-test-surfaces \
 --enable-xlib          \
 --enable-xlib-xrender  \
 --enable-xlib-xcb      \
 --enable-x             \
 --enable-xcb           \
 --enable-xcb-shm
