patch -p1 < /mss/repo/pkg-management/patches/cairo-1.16.0/CVE-2018-19876.patch
patch -p1 < /mss/repo/pkg-management/patches/cairo-1.16.0/pdf-flush.patch
patch -p1 < /mss/repo/pkg-management/patches/cairo-1.16.0/musl-stacksize.patch

./configure        \
 --prefix=/usr     \
 --disable-lto     \
 --disable-static  \
 --enable-tee      \
 --enable-xlib-xcb \
 --enable-gl       \
 --build=$CBUILD   \
 --host=$CHOST
