# 1 >> freetype w/o harfbuzz
tar xf ../sauces/freetype-2.10.2.tar.xz
cd freetype-2.10.2

pdir="/mss/repo/pkg-management/patches/freetype-2.10.2"
patch -p1 < "${pdir}"/0001-Enable-table-validation-modules.patch
patch -p1 < "${pdir}"/0002-Enable-infinality-subpixel-hinting.patch
patch -p1 < "${pdir}"/0003-Enable-long-PCF-family-names.patch

CFLAGS="$CFLAGS -DDEFAULT_TT_INTERPRETER_VERSION=TT_INTERPRETER_VERSION_40" \
./configure               \
 --prefix=/usr            \
 --enable-freetype-config \
 --with-harfbuzz=no

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf freetype-2.10.2


# 2 >> harfbuzz
tar xf ../sauces/harfbuzz-2.7.2.tar.gz
cd harfbuzz-2.7.2

./autogen.sh

./configure      \
 --prefix=/usr   \
 --with-glib=yes \
 --with-icu=no

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf harfbuzz-2.7.2


# 3 >> freetype w/ harfbuzz
tar xf ../sauces/freetype-2.10.2.tar.xz
cd freetype-2.10.2

patch -p1 < "${pdir}"/0001-Enable-table-validation-modules.patch
patch -p1 < "${pdir}"/0002-Enable-infinality-subpixel-hinting.patch
patch -p1 < "${pdir}"/0003-Enable-long-PCF-family-names.patch

CFLAGS="$CFLAGS -DDEFAULT_TT_INTERPRETER_VERSION=TT_INTERPRETER_VERSION_40" \
./configure               \
 --prefix=/usr            \
 --enable-freetype-config \
 --with-harfbuzz=yes

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf freetype-2.10.2


# 4 >> fontconfig
tar xf ../sauces/fontconfig-2.13.93.tar.xz
cd fontconfig-2.13.93

./configure           \
 --prefix=/usr        \
 --localstatedir=/var \
 --sysconfdir=/etc    \
 --disable-docs       \
 --disable-nls        \
 --with-xmldir=/etc/fonts

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf fontconfig-2.13.93


# 5 >> cairo
tar xf ../sauces/cairo-1.16.0.tar.xz
cd cairo-1.16.0

sed -i "s/BUILD_SPHINX_TRUE=/BUILD_SPHINX_TRUE='#'/"   configure
sed -i "s/BUILD_SPHINX_FALSE='#'/BUILD_SPHINX_FALSE=/" configure

ax_cv_c_float_words_bigendian=no \
./configure            \
 --prefix=/usr         \
 --disable-static      \
 --enable-tee          \
 --enable-gl           \
 --enable-egl          \
 --enable-xlib-xcb     \
 --enable-xcb          \
 --enable-xlib-xrender \
 --enable-xlib         \
 --disable-trace       \
 --disable-valgrind    \
 --disable-gtk-doc-html

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf cairo-1.16.0


# 6 >> cleanup
doas -- rm -rfv \
 /usr/share/doc        \
 /usr/share/man        \
 /usr/share/gettext    \
 /usr/share/gtk-doc    \
 /usr/share/fontconfig \
 /var/cache/fontconfig \
\
/usr/lib/libfreetype.a \
\
/etc/fonts

# 7 >> copy my font configs
doas -- cp -rv \
 /mss/repo/directories/system/etc/fonts /etc/fonts
