# 1 >> freetype w/o harfbuzz
tar xf ../sauces/freetype-2.10.2.tar.xz
cd freetype-2.10.2

pdir="/mss/repo/pkg-management/patches/freetype-2.10.2"
patch -p1 < "${pdir}"/0001-Enable-table-validation-modules.patch
patch -p1 < "${pdir}"/0002-Enable-infinality-subpixel-hinting.patch
patch -p1 < "${pdir}"/0003-Enable-long-PCF-family-names.patch
patch -p1 < "${pdir}"/0007-cleartype.patch

CFLAGS="$CFLAGS -DDEFAULT_TT_INTERPRETER_VERSION=TT_INTERPRETER_VERSION_36" \
./configure               \
 --prefix=/usr            \
 --enable-freetype-config \
 --with-harfbuzz=no

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf freetype-2.10.2


# 2 >> harfbuzz
tar xf ../sauces/harfbuzz-2.6.7.tar.xz
cd harfbuzz-2.6.7

./configure      \
 --prefix=/usr   \
 --with-glib=yes \
 --with-icu=yes

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf harfbuzz-2.6.7

# 3 >> freetype w/ harfbuzz
tar xf ../sauces/freetype-2.10.2.tar.xz
cd freetype-2.10.2

patch -p1 < "${pdir}"/0001-Enable-table-validation-modules.patch
patch -p1 < "${pdir}"/0002-Enable-infinality-subpixel-hinting.patch
patch -p1 < "${pdir}"/0003-Enable-long-PCF-family-names.patch
patch -p1 < "${pdir}"/0007-cleartype.patch

CFLAGS="$CFLAGS -DDEFAULT_TT_INTERPRETER_VERSION=TT_INTERPRETER_VERSION_36" \
./configure               \
 --prefix=/usr            \
 --enable-freetype-config \
 --with-harfbuzz=yes

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf freetype-2.10.2


# 4 >> fontconfig
tar xf ../sauces/fontconfig-2.13.92.tar.xz
cd fontconfig-2.13.92

pdir="/mss/repo/pkg-management/patches/fontconfig-2.13.92"
patch -p1 < "${pdir}"/fontconfig-fix-1744377.patch

./configure           \
 --prefix=/usr        \
 --localstatedir=/var \
 --sysconfdir=/etc    \
 --disable-nls        \
 --with-xmldir=/etc/fonts

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf fontconfig-2.13.92


# 5 >> cairo
tar xf ../sauces/cairo-1.16.0.tar.xz
cd cairo-1.16.0

sed -i "s/BUILD_SPHINX_TRUE=/BUILD_SPHINX_TRUE='#'/"   configure
sed -i "s/BUILD_SPHINX_FALSE='#'/BUILD_SPHINX_FALSE=/" configure

./configure            \
 --prefix=/usr         \
 --disable-static      \
 --enable-tee          \
 --enable-gl           \
 --enable-egl          \
 --enable-xlib-xcb     \
 --enable-xcb          \
 --enable-xlib-xrender \
 --enable-xlib         \
 --disable-trace       \
 --disable-valgrind    \
 --disable-gtk-doc-html

make
make DESTDIR=/mss/work/FUCK install
doas -- make install

cd ../ && rm -rf cairo-1.16.0
