# > 0
sed -i 's/demos tests perf examples/perf/'  Makefile.am Makefile.in
sed -i 's/docs m4macros/m4macros/'          Makefile.am Makefile.in

# > 1
/mss/bin/configtomusl

# > 2
cp -vf /mss/repo/pkg-management/patches/gtk+-3.4.4/gtk.css \
 gtk/gtk-default.css

# > 3
./configure \
 --build=$CBUILD           \
 --host=$CHOST             \
 --prefix=/usr             \
 --sysconfdir=/etc         \
 --localstatedir=/var      \
 --enable-xkb              \
 --enable-xinerama         \
 --enable-xrandr           \
 --enable-xfixes           \
 --enable-xcomposite       \
 --enable-xdamage          \
 --enable-x11-backend      \
 --enable-debug=no         \
 --disable-schemas-compile \
 --disable-cups            \
 --disable-papi            \
 --disable-glibtest        \
 --enable-introspection=no \
 --enable-colord=no        \
 --enable-gtk-doc-html=no  \
 --disable-nls

# > 4
echo "#define HAVE_ISNAN 1" >> config.h
echo "#define HAVE_ISINF 1" >> config.h

# > 5
make
