# > 1
export      CC="clang"
export     CXX="clang++"
export      LD="ld.lld"
export      AR="llvm-ar"
export      AS="llvm-as"
export      NM="llvm-nm"
export   STRIP="llvm-strip"
export  RANLIB="llvm-ranlib"
export OBJCOPY="llvm-objcopy"
export OBJDUMP="llvm-objdump"
export OBJSIZE="llvm-size"
export READELF="llvm-readelf"

export   CFLAGS="-w -O3 -mtune=native -march=native -fstack-protector-strong -mllvm -polly -fuse-ld=lld -stdlib=libc++ -rtlib=compiler-rt -unwindlib=libunwind -flto=thin -flto-jobs=1"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O2 -Wl,--icf=all -Wl,--lto-O3 -Wl,--thinlto-jobs=1 -Wl,--thinlto-cache-dir=/mss/work/thinltocache"

# > 2
sed -i 's/ATK_PACKAGES="atk atk-bridge-2.0"/ATK_PACKAGES="atk"/' configure
sed -i '/<atk-bridge.h>/d;/atk_bridge_adaptor_init/d'            gtk/a11y/gtkaccessibility.c
sed -i 's/demos tests testsuite examples//'                      Makefile.am Makefile.in
sed -i 's/docs m4macros/m4macros/'                               Makefile.am Makefile.in

# > 3
./configure \
 --build=$CBUILD           \
 --host=$CHOST             \
 --prefix=/usr             \
 --sysconfdir=/etc         \
 --localstatedir=/var      \
 --enable-xkb              \
 --enable-xinerama         \
 --enable-xrandr           \
 --enable-xfixes           \
 --enable-xcomposite       \
 --enable-xdamage          \
 --enable-x11-backend      \
 --enable-debug=no         \
 --enable-introspection=no \
 --enable-colord=no        \
 --enable-gtk-doc-html=no  \
 --disable-schemas-compile \
 --disable-cups            \
 --disable-papi            \
 --disable-cloudprint      \
 --disable-glibtest        \
 --disable-nls             \
 --disable-installed-tests

cp -rfv gtk/theme/Adwaita/gtk-contained-dark.css gtk/theme/Adwaita/gtk-contained.css

make

# > 4
doas -- make install
doas -- glib-compile-schemas /usr/share/glib-2.0/schemas/

doas -- rm -rfv \
 /usr/bin/gtk-encode-symbolic-svg \
 /usr/share/themes/Default        \
 /usr/share/themes/Emacs          \
 /usr/share/gettext
