patch -p1 < /mss/repo/pkg-management/patches/gtk-3.24.14/gtk+-3.22.20-libcloudproviders-automagic.patch
patch -p1 < /mss/repo/pkg-management/patches/gtk-3.24.14/gtk+-atk-bridge-config.ac.patch
patch -p1 < /mss/repo/pkg-management/patches/gtk-3.24.14/gtk+-atk-bridge-config.h.in.patch
patch -p1 < /mss/repo/pkg-management/patches/gtk-3.24.14/gtk+-atk-bridge-gtkaccessibility.patch

sed 's|/usr/bin/sh|/bin/sh|' \
 -i build-aux/compile        \
 -i build-aux/missing        \
 -i build-aux/install-sh     \
 -i build-aux/depcomp        \
 -i build-aux/config.sub     \
 -i build-aux/config.guess

autoreconf -fv

./configure \
 --build=$CBUILD           \
 --host=$CHOST             \
 --prefix=/usr             \
 --sysconfdir=/etc         \
 --localstatedir=/var      \
 --enable-xkb              \
 --enable-xinerama         \
 --enable-xrandr           \
 --enable-xfixes           \
 --enable-xcomposite       \
 --enable-xdamage          \
 --enable-broadway-backend \
 --enable-x11-backend      \
 --disable-wayland-backend \
 --without-atk-bridge      \
 --disable-cloudproviders  \
 --disable-mir-backend     \
 --disable-papi            \
 --enable-debug=no         \
 --disable-nls
