# > 1
export   CFLAGS="${CFLAGS}   -DGLX_X86_READONLY_TEXT"
export CXXFLAGS="${CXXFLAGS} -DGLX_X86_READONLY_TEXT"
export  LDFLAGS="${LDFLAGS}  -DGLX_X86_READONLY_TEXT"  

# > 2
sed -i "/pre_args += '-DUSE_ELF_TLS'/d" meson.build
python3 bin/git_sha1_gen.py --output include/git_sha1.h

# > 3
mkdir build
cd    build

meson \
 --buildtype=release \
 --prefix=/usr       \
\
 -Ddri3=true         \
 -Dzstd=true         \
 -Dllvm=false        \
 -Dplatforms=x11     \
 -Dvulkan-drivers=   \
 -Dgallium-drivers=  \
 -Ddri-drivers=i965  \
..
