# > 1
export   CFLAGS="-DGLX_X86_READONLY_TEXT $CFLAGS -fcommon -w"
export CXXFLAGS="$CXXFLAGS -w"

export       CC="clang"
export      CXX="clang++"
export       LD="ld.lld"
export       AR="llvm-ar"
export       AS="llvm-as"
export       NM="llvm-nm"
export   RANLIB="llvm-ranlib"
export    STRIP="llvm-strip"
export  OBJCOPY="llvm-objcopy"
export  OBJDUMP="llvm-objdump"
export  OBJSIZE="llvm-size"
export  READELF="llvm-readelf"

# > 2
sed -i "/pre_args += '-DUSE_ELF_TLS'/d" meson.build

# > 3
mkdir build
cd    build

meson \
 --buildtype=release     \
 --prefix=/usr           \
 --sysconfdir=/etc       \
 --localstatedir=/var    \
 --mandir=/usr/share/man \
\
 -Dllvm=true         \
 -Dplatforms=x11,drm \
\
 -Dvulkan-drivers=              \
 -Dgallium-drivers=             \
 -Ddri-drivers=i915,i965,swrast \
..
