# > 1
export CFLAGS="-DGLX_X86_READONLY_TEXT $CFLAGS -fcommon"

# > 2
sed -i "/pre_args += '-DUSE_ELF_TLS'/d" meson.build

# > 3
mkdir build
cd    build

meson \
 --buildtype=release     \
 --prefix=/usr           \
 --sysconfdir=/etc       \
 --localstatedir=/var    \
 --mandir=/usr/share/man \
\
 -Dplatforms=x11,drm \
 -Dllvm=false        \
\
 -Ddri-drivers=i915,i965,swrast  \
 -Dgallium-drivers=              \
 -Dvulkan-drivers=               \
..
