# > 1
export      CC="clang"
export     CXX="clang++"
export      LD="ld.lld"
export      AR="llvm-ar"
export      AS="llvm-as"
export      NM="llvm-nm"
export   STRIP="llvm-strip"
export  RANLIB="llvm-ranlib"
export OBJCOPY="llvm-objcopy"
export OBJDUMP="llvm-objdump"
export OBJSIZE="llvm-size"
export READELF="llvm-readelf"

export   CFLAGS="-DGLX_X86_READONLY_TEXT -w -O3 -mtune=native -march=native -fstack-protector-strong -fuse-ld=lld -mllvm -polly -flto=thin -flto-jobs=2"
export CXXFLAGS="${CFLAGS}"
export  LDFLAGS="${CFLAGS} -Wl,--as-needed -Wl,--gc-sections -Wl,-O3 -Wl,--thinlto-jobs=2 -Wl,--thinlto-cache-dir=/mss/work/thinltocache"

# > 2
sed -i "/pre_args += '-DUSE_ELF_TLS'/d" meson.build

# > 3
mkdir build
cd    build

meson \
 --buildtype=release \
 --prefix=/usr       \
\
 -Ddri3=true         \
 -Dzstd=true         \
 -Dllvm=false        \
 -Dplatforms=x11,drm \
 -Dvulkan-drivers=   \
 -Dgallium-drivers=  \
 -Ddri-drivers=i965  \
..

# > 4
/bin/busybox time samu -j2
