# >> 1
make            \
 PREFIX=/usr    \
 HAVE_PTHREAD=1 \
 HAVE_ZLIB=1    \
 HAVE_LZMA=1    \
 HAVE_LZ4=1

make            \
 PREFIX=/usr    \
 HAVE_PTHREAD=1 \
 HAVE_ZLIB=1    \
 HAVE_LZMA=1    \
 HAVE_LZ4=1     \
\
 DESTDIR=$PWD/KEK install

doas -- make    \
 PREFIX=/usr    \
 HAVE_PTHREAD=1 \
 HAVE_ZLIB=1    \
 HAVE_LZMA=1    \
 HAVE_LZ4=1     \
\
 install
