# > 1
pdir="/mss/repo/pkg-management/patches/wpa_supplicant-2.9"
patch -p1 < "${pdir}"/CVE-2019-16275.patch
patch -p1 < "${pdir}"/eloop.patch

# > 2
cp -vf "${pdir}"/config wpa_supplicant/.config
cd wpa_supplicant/

make BINDIR=/usr/bin LIBDIR=/usr/lib
doas -- cp -rv \
 wpa_cli wpa_passphrase wpa_supplicant \
 /usr/bin/
